In [1]:
import pandas as pd
import numpy as np

In [2]:
df_index= pd.read_excel('C:/Users/XLL/Desktop/数据/CSI300_Index & Future_0521Final/CSI300_Index & Future/CSI300_Index_Level.xlsx')
df_index.head()

         date  index_level
0  2010-04-16     3356.332
1  2010-04-19     3176.423
2  2010-04-20     3173.374
3  2010-04-21     3236.679
4  2010-04-22     3201.541

In [3]:
df_2008 = pd.read_excel('C:/Users/XLL/Desktop/数据/CSI300_Index & Future_0521Final/CSI300_Index & Future/CSI300_Index_Level(2008-3-31).xlsx')
df_2008.head()

         指标名称     沪深300指数
0          频率           日
1          单位           点
2        指标ID  M002845714
3  2022-12-30     3871.63
4  2022-12-29      3856.7

In [4]:
a = ['2010-04-15',3394.57]
df_index2 = pd.DataFrame(np.insert(df_index.values,0,a,axis = 0))
df_index2.columns = df_index.columns
df_index2

            date index_level
0     2010-04-15     3394.57
1     2010-04-16    3356.332
2     2010-04-19    3176.423
3     2010-04-20    3173.374
4     2010-04-21    3236.679
...          ...         ...
3087  2022-12-26   3843.4887
3088  2022-12-27    3887.854
3089  2022-12-28   3871.2644
3090  2022-12-29   3856.7007
3091  2022-12-30   3871.6338

[3092 rows x 2 columns]

In [5]:
diff = np.array(df_index2["index_level"])
diff = np.diff(diff)
diff

array([-38.238000000000284, -179.9090000000001, -3.048999999999978, ...,
       -16.58959999999979, -14.563700000000154, 14.933100000000195],
      dtype=object)

In [6]:
df_index3 = pd.DataFrame(np.insert(df_index.values,2,diff,axis = 1))
df_index3.columns = ['date','index_level','diff']
df_index3['date']=pd.to_datetime(df_index3['date'])
df_index3

           date index_level     diff
0    2010-04-16    3356.332  -38.238
1    2010-04-19    3176.423 -179.909
2    2010-04-20    3173.374   -3.049
3    2010-04-21    3236.679   63.305
4    2010-04-22    3201.541  -35.138
...         ...         ...      ...
3086 2022-12-26   3843.4887  15.2699
3087 2022-12-27    3887.854  44.3653
3088 2022-12-28   3871.2644 -16.5896
3089 2022-12-29   3856.7007 -14.5637
3090 2022-12-30   3871.6338  14.9331

[3091 rows x 3 columns]

In [7]:
df_index3.set_index("date", inplace=True)
df_index3

           index_level     diff
date
2010-04-16    3356.332  -38.238
2010-04-19    3176.423 -179.909
2010-04-20    3173.374   -3.049
2010-04-21    3236.679   63.305
2010-04-22    3201.541  -35.138
...                ...      ...
2022-12-26   3843.4887  15.2699
2022-12-27    3887.854  44.3653
2022-12-28   3871.2644 -16.5896
2022-12-29   3856.7007 -14.5637
2022-12-30   3871.6338  14.9331

[3091 rows x 2 columns]

In [8]:
df_index4 = df_index3.drop('index_level',axis = 1)
df_index4
#check missing value
df_index4.isnull().sum()
#find out missing value
df_index4[df_index4.isnull().values==True]
df_index4.dropna(inplace=True)
df_index4

               diff
date
2010-04-16  -38.238
2010-04-19 -179.909
2010-04-20   -3.049
2010-04-21   63.305
2010-04-22  -35.138
...             ...
2022-12-26  15.2699
2022-12-27  44.3653
2022-12-28 -16.5896
2022-12-29 -14.5637
2022-12-30  14.9331

[3091 rows x 1 columns]

In [9]:
df_index4['binary'] = df_index4['diff'].apply(lambda x: 1 if x > 0 else 0)
df_index4

               diff  binary
date
2010-04-16  -38.238       0
2010-04-19 -179.909       0
2010-04-20   -3.049       0
2010-04-21   63.305       1
2010-04-22  -35.138       0
...             ...     ...
2022-12-26  15.2699       1
2022-12-27  44.3653       1
2022-12-28 -16.5896       0
2022-12-29 -14.5637       0
2022-12-30  14.9331       1

[3091 rows x 2 columns]

In [10]:
monthly_groups=df_index4.groupby([pd.Grouper(freq='M'),'binary']).mean()
monthly_groups

                        diff
date       binary
2010-04-30 0      -44.201222
           1       35.303000
2010-05-31 0      -60.790909
           1       41.622111
2010-06-30 0      -34.557417
...                      ...
2022-10-31 1       37.311480
2022-11-30 0      -27.561730
           1       51.662533
2022-12-31 0      -25.321020
           1       22.650625

[306 rows x 1 columns]

In [11]:
df = monthly_groups
df

                        diff
date       binary
2010-04-30 0      -44.201222
           1       35.303000
2010-05-31 0      -60.790909
           1       41.622111
2010-06-30 0      -34.557417
...                      ...
2022-10-31 1       37.311480
2022-11-30 0      -27.561730
           1       51.662533
2022-12-31 0      -25.321020
           1       22.650625

[306 rows x 1 columns]

In [12]:
grouped = df.groupby('date')['diff']
diff1 = grouped.apply(lambda x: x.loc[x.index.get_level_values('binary') == 1].sum() / x.loc[x.index.get_level_values('binary') == 0].sum() if 0 in x.index.get_level_values('binary') and 1 in x.index.get_level_values('binary') else '+' if 1 in x.index.get_level_values('binary') else '-').to_numpy()
diff1

array([-0.79868832, -0.68467657, -0.84536329, -1.28588455, -0.76201036,
       -1.02899363, -2.44128302, -0.77703127, -1.06541659, -0.71269341,
       -0.98300817, -1.03680044, -0.98263065, -0.6214653 , -0.86493997,
       -0.67064246, -0.89523734, -1.05014159, -1.54017823, -0.63338794,
       -0.89518406, -1.67857863, -1.12104451, -0.75566699, -1.9697871 ,
       -1.22735396, -1.01852182, -0.50263197, -0.67043503, -1.13749611,
       -0.76605664, -1.18578238, -1.95486998, -1.38234787, -0.62985578,
       -0.76668741, -2.0060542 , -1.01419653, -0.50424   , -0.89676571,
       -2.21264738, -1.11004001, -1.0516669 , -1.48373571, -0.84907867,
       -0.8183738 , -0.68689814, -1.36739171, -1.18131474, -1.1999226 ,
       -1.30272632, -1.95700897, -1.02622184, -0.94514883, -1.74975072,
       -3.19231448, -0.83207011, -0.83333585, -0.77796449, -1.40176126,
       -1.35066859, -0.90522449, -0.83486896, -0.67733474, -0.71890787,
       -0.74118689, -0.78382012, -1.17767333, -1.10056087, -0.37509683,
       -1.06424663, -0.86489885, -1.13307055, -0.95971953, -0.75917695,
       -1.18346411, -1.43717757, -0.80166025, -2.17042386, -1.40384958,
       -0.77591099, -1.27613149, -1.01460955, -0.93476815, -0.70080564,
       -1.69333933, -1.60428994, -1.07882611, -1.31386748, -0.88555022,
       -2.83831898, -0.69090045, -0.98580597, -0.7373986 , -0.47962799,
       -0.58793168, -0.9767852 , -1.1420258 , -0.83644494, -1.22219035,
       -1.26709344, -1.53559443, -0.71228722, -1.26254721, -1.02340873,
       -1.75225805, -2.91151088, -1.11539933, -1.00802448, -0.88055985,
       -2.26861261, -1.127246  , -1.08525054, -0.7039665 , -1.18151576,
       -0.88655855, -2.53443708, -0.92079077, -0.59420657, -0.85634708,
       -1.57524084, -0.6412613 , -1.09486568, -0.79165856, -1.20028572,
       -0.57444126, -1.81232553, -1.25369378, -1.38316768, -1.01636766,
       -0.85038957, -0.64497839, -1.09166726, -1.13159746, -0.54879956,
       -0.47205644, -1.18681465, -1.43885303, -0.90260538, -1.06230522,
       -0.83311878, -0.54147506, -0.8246644 , -1.12742269, -0.94694627,
       -0.89783234, -1.25892178, -0.43394233, -1.19896082, -0.96916925,
       -0.85020275, -1.87442999, -0.89453841])

In [13]:
diff2 = list(diff1)
diff2

[-0.7986883218412777,
 -0.6846765697954569,
 -0.8453632894599488,
 -1.2858845480380032,
 -0.7620103580437214,
 -1.0289936271906528,
 -2.4412830162621275,
 -0.7770312747042021,
 -1.0654165872217507,
 -0.7126934096837159,
 -0.9830081700604921,
 -1.0368004363011172,
 -0.9826306526252427,
 -0.6214652974247107,
 -0.8649399713188294,
 -0.6706424630952941,
 -0.8952373379584185,
 -1.0501415854953555,
 -1.5401782328403473,
 -0.6333879447365215,
 -0.8951840592235258,
 -1.6785786325921188,
 -1.1210445120346266,
 -0.7556669932945225,
 -1.969787098824281,
 -1.2273539630709869,
 -1.018521824806419,
 -0.5026319654327479,
 -0.6704350259623848,
 -1.137496114832875,
 -0.7660566435489303,
 -1.185782379676197,
 -1.9548699849904707,
 -1.3823478691752373,
 -0.6298557844411229,
 -0.7666874099435801,
 -2.006054201889607,
 -1.0141965295187554,
 -0.5042399965022398,
 -0.8967657083580323,
 -2.212647377054899,
 -1.1100400111659077,
 -1.0516668987731306,
 -1.48373570656883,
 -0.8490786747784836,
 -0.8183737986848751,
 -0.686898144231392,
 -1.3673917052480362,
 -1.1813147360295853,
 -1.1999226047652543,
 -1.3027263178725286,
 -1.9570089684805645,
 -1.0262218435008774,
 -0.9451488292729178,
 -1.7497507216868655,
 -3.192314480950094,
 -0.8320701127202655,
 -0.8333358505384302,
 -0.7779644887732482,
 -1.4017612644689281,
 -1.3506685942682193,
 -0.90522449391085,
 -0.8348689560452163,
 -0.6773347404139051,
 -0.71890786989685,
 -0.7411868938566929,
 -0.7838201195111999,
 -1.1776733254480884,
 -1.100560873216596,
 -0.37509683073501865,
 -1.0642466337036949,
 -0.8648988464613567,
 -1.1330705540297978,
 -0.9597195325890823,
 -0.7591769539734281,
 -1.1834641115984303,
 -1.4371775692084645,
 -0.801660246879827,
 -2.1704238560962357,
 -1.4038495808249776,
 -0.7759109897648269,
 -1.2761314904929888,
 -1.014609550422301,
 -0.9347681475138037,
 -0.7008056402427425,
 -1.6933393338753475,
 -1.6042899357861955,
 -1.0788261071519107,
 -1.3138674771073156,
 -0.8855502161879417,
 -2.8383189815035257,
 -0.690900450032409,
 -0.9858059665855218,
 -0.737398603092725,
 -0.47962799379370147,
 -0.5879316802462955,
 -0.9767852023147161,
 -1.1420258015901485,
 -0.8364449434406945,
 -1.2221903505249276,
 -1.2670934429154677,
 -1.535594431333051,
 -0.7122872231333298,
 -1.262547211017188,
 -1.02340873396387,
 -1.752258054830764,
 -2.911510882693063,
 -1.1153993313133674,
 -1.0080244789041466,
 -0.8805598546678263,
 -2.268612613277282,
 -1.127246002757484,
 -1.0852505370971965,
 -0.7039664973284967,
 -1.1815157633952214,
 -0.8865585474225761,
 -2.5344370813873542,
 -0.9207907745304735,
 -0.5942065743299095,
 -0.856347077761016,
 -1.5752408418384456,
 -0.641261295636637,
 -1.0948656792973044,
 -0.7916585627096142,
 -1.2002857224634949,
 -0.5744412565457881,
 -1.8123255283966173,
 -1.253693782702566,
 -1.383167682983572,
 -1.016367659610812,
 -0.8503895733424054,
 -0.6449783881048095,
 -1.0916672628742914,
 -1.1315974631273602,
 -0.5487995551191245,
 -0.47205644437374544,
 -1.1868146462821831,
 -1.4388530338000258,
 -0.9026053792750224,
 -1.0623052218498796,
 -0.8331187783928892,
 -0.5414750567928217,
 -0.8246644041282718,
 -1.1274226937263834,
 -0.9469462694096733,
 -0.8978323443663127,
 -1.2589217762818072,
 -0.4339423257896875,
 -1.1989608249899477,
 -0.9691692456656944,
 -0.8502027491857411,
 -1.8744299916345386,
 -0.8945384111698499]

In [14]:
diff3 = []
for i in diff2:
    if i != '+' and i != '-':
        i = abs(float(i))
        i = 100*(1-1/(1+i))
    diff3.append(i)
diff3

[44.403931028121534,
 40.64142530803916,
 45.81012824349329,
 56.253258684551255,
 43.246644638896804,
 50.71448295357136,
 70.94107066247095,
 43.72637025386871,
 51.5836172621656,
 41.612433705535736,
 49.571564298219975,
 50.90338836454562,
 49.56196209940167,
 38.32738809839174,
 46.37897115300553,
 40.14278805369024,
 47.23615982169195,
 51.222881040268256,
 60.63268368055294,
 38.77755721031062,
 47.23467648784947,
 62.6667670744361,
 52.85341753432873,
 43.04159024351808,
 66.32755255769366,
 55.103678329543996,
 50.45879674370614,
 33.45010468268544,
 40.135354895119505,
 53.21628923390173,
 43.37667460141722,
 54.249791319658236,
 66.15756344341408,
 58.02460199289883,
 38.644878304806596,
 43.39689101922476,
 66.73380009677139,
 50.35241172623177,
 33.521246455002704,
 47.27867571658773,
 68.87302331584486,
 52.60753375726522,
 51.25914442554068,
 59.738067244624204,
 45.919012877059,
 45.00580679708197,
 40.71959807296878,
 57.759419457996785,
 54.15608836805488,
 54.54385541409961,
 56.573215312712776,
 66.18204372529036,
 50.64706250169457,
 48.59005208491977,
 63.63306709538605,
 76.1468276164871,
 45.41693611740678,
 45.4546203464951,
 43.755907032205386,
 58.36388841831381,
 57.45891179903616,
 47.512747017685975,
 45.500195166234136,
 40.38160804126453,
 41.8235254190785,
 42.56791137538253,
 43.94053587230429,
 54.07943017375045,
 52.39366719857554,
 27.27784853772962,
 51.556176298285216,
 46.377788698968914,
 53.119225329382594,
 48.97228999504585,
 43.15523530811871,
 54.201216558217745,
 58.96893141336537,
 44.49563941193506,
 68.4584760464392,
 58.40005930584018,
 43.690871571642,
 56.06580708641709,
 50.362590121228166,
 48.31422042558381,
 41.204334208506154,
 62.87136984847964,
 61.60181759109263,
 51.89592835304311,
 56.78231316643287,
 46.9650825836014,
 73.9469282042764,
 40.859912836333244,
 49.64261278157795,
 42.44268423953429,
 32.415444679710085,
 37.024998465620676,
 49.41281435994917,
 53.31522154132584,
 45.546965425141615,
 54.99935458887313,
 55.890658008608305,
 60.56151616194136,
 41.59858308291929,
 55.80202724033222,
 50.578447981639684,
 63.66619771555215,
 74.4344313491593,
 52.727601583425866,
 50.19981028589168,
 46.82434608407422,
 69.40597989685453,
 52.99086242476279,
 52.04413176212079,
 41.31340014209115,
 54.16031289897071,
 46.993428782467205,
 71.70695143319752,
 47.938108967415026,
 37.27287190367231,
 46.13076336963218,
 61.168680468499126,
 39.07124949217151,
 52.2642425296004,
 44.1857940562263,
 54.55135713554624,
 36.48540421292512,
 64.4422386419069,
 55.62839957783314,
 58.03904160247488,
 50.405869919922516,
 45.95732626218408,
 39.208927774904886,
 52.19124868714362,
 53.08682725992476,
 35.4338657513957,
 32.06782227529133,
 54.271387302983996,
 58.99711929579128,
 47.44049339432412,
 51.510572275863034,
 45.44816125462919,
 35.12707224205168,
 45.19540153589246,
 52.994766721774276,
 48.637514259538015,
 47.308306607352044,
 55.731092129892026,
 30.262188233457078,
 54.52397384093592,
 49.217163420509266,
 45.9518693051293,
 65.21049380537,
 47.21669436184646]

In [15]:
diff4 = []
for i in diff3:
    if i == '-':
        i = int('0')
    if i =='+':
        i = int('100')
    diff4.append(i)
diff4

[44.403931028121534,
 40.64142530803916,
 45.81012824349329,
 56.253258684551255,
 43.246644638896804,
 50.71448295357136,
 70.94107066247095,
 43.72637025386871,
 51.5836172621656,
 41.612433705535736,
 49.571564298219975,
 50.90338836454562,
 49.56196209940167,
 38.32738809839174,
 46.37897115300553,
 40.14278805369024,
 47.23615982169195,
 51.222881040268256,
 60.63268368055294,
 38.77755721031062,
 47.23467648784947,
 62.6667670744361,
 52.85341753432873,
 43.04159024351808,
 66.32755255769366,
 55.103678329543996,
 50.45879674370614,
 33.45010468268544,
 40.135354895119505,
 53.21628923390173,
 43.37667460141722,
 54.249791319658236,
 66.15756344341408,
 58.02460199289883,
 38.644878304806596,
 43.39689101922476,
 66.73380009677139,
 50.35241172623177,
 33.521246455002704,
 47.27867571658773,
 68.87302331584486,
 52.60753375726522,
 51.25914442554068,
 59.738067244624204,
 45.919012877059,
 45.00580679708197,
 40.71959807296878,
 57.759419457996785,
 54.15608836805488,
 54.54385541409961,
 56.573215312712776,
 66.18204372529036,
 50.64706250169457,
 48.59005208491977,
 63.63306709538605,
 76.1468276164871,
 45.41693611740678,
 45.4546203464951,
 43.755907032205386,
 58.36388841831381,
 57.45891179903616,
 47.512747017685975,
 45.500195166234136,
 40.38160804126453,
 41.8235254190785,
 42.56791137538253,
 43.94053587230429,
 54.07943017375045,
 52.39366719857554,
 27.27784853772962,
 51.556176298285216,
 46.377788698968914,
 53.119225329382594,
 48.97228999504585,
 43.15523530811871,
 54.201216558217745,
 58.96893141336537,
 44.49563941193506,
 68.4584760464392,
 58.40005930584018,
 43.690871571642,
 56.06580708641709,
 50.362590121228166,
 48.31422042558381,
 41.204334208506154,
 62.87136984847964,
 61.60181759109263,
 51.89592835304311,
 56.78231316643287,
 46.9650825836014,
 73.9469282042764,
 40.859912836333244,
 49.64261278157795,
 42.44268423953429,
 32.415444679710085,
 37.024998465620676,
 49.41281435994917,
 53.31522154132584,
 45.546965425141615,
 54.99935458887313,
 55.890658008608305,
 60.56151616194136,
 41.59858308291929,
 55.80202724033222,
 50.578447981639684,
 63.66619771555215,
 74.4344313491593,
 52.727601583425866,
 50.19981028589168,
 46.82434608407422,
 69.40597989685453,
 52.99086242476279,
 52.04413176212079,
 41.31340014209115,
 54.16031289897071,
 46.993428782467205,
 71.70695143319752,
 47.938108967415026,
 37.27287190367231,
 46.13076336963218,
 61.168680468499126,
 39.07124949217151,
 52.2642425296004,
 44.1857940562263,
 54.55135713554624,
 36.48540421292512,
 64.4422386419069,
 55.62839957783314,
 58.03904160247488,
 50.405869919922516,
 45.95732626218408,
 39.208927774904886,
 52.19124868714362,
 53.08682725992476,
 35.4338657513957,
 32.06782227529133,
 54.271387302983996,
 58.99711929579128,
 47.44049339432412,
 51.510572275863034,
 45.44816125462919,
 35.12707224205168,
 45.19540153589246,
 52.994766721774276,
 48.637514259538015,
 47.308306607352044,
 55.731092129892026,
 30.262188233457078,
 54.52397384093592,
 49.217163420509266,
 45.9518693051293,
 65.21049380537,
 47.21669436184646]

In [19]:
df_index5=df_index4.groupby([pd.Grouper(freq='M')]).mean()
df_index5
df_index5.dropna(inplace=True)
df_index5['RSI'] = diff4
df_index5 = df_index5.drop('binary',axis =1)
df_index5

                  RSI
date
2010-04-30  44.403931
2010-05-31  40.641425
2010-06-30  45.810128
2010-07-31  56.253259
2010-08-31  43.246645
...               ...
2022-08-31  54.523974
2022-09-30  49.217163
2022-10-31  45.951869
2022-11-30  65.210494
2022-12-31  47.216694

[153 rows x 1 columns]

In [21]:
df_index5.to_csv('C:/Users/XLL/Desktop/数据/CSI300_Index & Future_0521Final/CSI300_Index & Future/Monthly_RSI.csv', index = False, header=True)