In [2]:
import pandas as pd
import numpy as np

In [46]:
df_index= pd.read_excel('C:/Users/XLL/Desktop/数据/CSI300_Index & Future_0521Final/CSI300_Index & Future/CSI300_Index_Level.xlsx')
df_index.head()

         date  index_level
0  2010-04-16     3356.332
1  2010-04-19     3176.423
2  2010-04-20     3173.374
3  2010-04-21     3236.679
4  2010-04-22     3201.541

In [47]:
df_2008 = pd.read_excel('C:/Users/XLL/Desktop/数据/CSI300_Index & Future_0521Final/CSI300_Index & Future/CSI300_Index_Level(2008-3-31).xlsx')
df_2008.head()

         指标名称     沪深300指数
0          频率           日
1          单位           点
2        指标ID  M002845714
3  2022-12-30     3871.63
4  2022-12-29      3856.7

In [48]:
a = ['2010-04-15',3394.57]
df_index2 = pd.DataFrame(np.insert(df_index.values,0,a,axis = 0))
df_index2.columns = df_index.columns
df_index2

            date index_level
0     2010-04-15     3394.57
1     2010-04-16    3356.332
2     2010-04-19    3176.423
3     2010-04-20    3173.374
4     2010-04-21    3236.679
...          ...         ...
3087  2022-12-26   3843.4887
3088  2022-12-27    3887.854
3089  2022-12-28   3871.2644
3090  2022-12-29   3856.7007
3091  2022-12-30   3871.6338

[3092 rows x 2 columns]

In [49]:
diff = np.array(df_index2["index_level"])
diff = np.diff(diff)
diff

array([-38.238000000000284, -179.9090000000001, -3.048999999999978, ...,
       -16.58959999999979, -14.563700000000154, 14.933100000000195],
      dtype=object)

In [50]:
df_index3 = pd.DataFrame(np.insert(df_index.values,2,diff,axis = 1))
df_index3.columns = ['date','index_level','diff']
df_index3['date']=pd.to_datetime(df_index3['date'])
df_index3

           date index_level     diff
0    2010-04-16    3356.332  -38.238
1    2010-04-19    3176.423 -179.909
2    2010-04-20    3173.374   -3.049
3    2010-04-21    3236.679   63.305
4    2010-04-22    3201.541  -35.138
...         ...         ...      ...
3086 2022-12-26   3843.4887  15.2699
3087 2022-12-27    3887.854  44.3653
3088 2022-12-28   3871.2644 -16.5896
3089 2022-12-29   3856.7007 -14.5637
3090 2022-12-30   3871.6338  14.9331

[3091 rows x 3 columns]

In [51]:
df_index3.set_index("date", inplace=True)
df_index3

           index_level     diff
date
2010-04-16    3356.332  -38.238
2010-04-19    3176.423 -179.909
2010-04-20    3173.374   -3.049
2010-04-21    3236.679   63.305
2010-04-22    3201.541  -35.138
...                ...      ...
2022-12-26   3843.4887  15.2699
2022-12-27    3887.854  44.3653
2022-12-28   3871.2644 -16.5896
2022-12-29   3856.7007 -14.5637
2022-12-30   3871.6338  14.9331

[3091 rows x 2 columns]

In [61]:
df_index4 = df_index3.drop('index_level',axis = 1)
df_index4
#check missing value
df_index4.isnull().sum()
#find out missing value
df_index4[df_index4.isnull().values==True]
df_index4.dropna(inplace=True)
df_index4

               diff
date
2010-04-16  -38.238
2010-04-19 -179.909
2010-04-20   -3.049
2010-04-21   63.305
2010-04-22  -35.138
...             ...
2022-12-26  15.2699
2022-12-27  44.3653
2022-12-28 -16.5896
2022-12-29 -14.5637
2022-12-30  14.9331

[3091 rows x 1 columns]

In [53]:
df_index4['binary'] = df_index4['diff'].apply(lambda x: 1 if x > 0 else 0)
df_index4

               diff  binary
date
2010-04-16  -38.238       0
2010-04-19 -179.909       0
2010-04-20   -3.049       0
2010-04-21   63.305       1
2010-04-22  -35.138       0
...             ...     ...
2022-12-26  15.2699       1
2022-12-27  44.3653       1
2022-12-28 -16.5896       0
2022-12-29 -14.5637       0
2022-12-30  14.9331       1

[3091 rows x 2 columns]

In [54]:
weekly_groups=df_index4.groupby([pd.Grouper(freq='W'),'binary']).mean()
weekly_groups

                        diff
date       binary
2010-04-18 0      -38.238000
2010-04-25 0      -57.408500
           1       63.305000
2010-05-02 0      -32.484750
           1        7.301000
...                      ...
2022-12-18 1        5.721450
2022-12-25 0      -44.339633
           1        3.505350
2023-01-01 0      -15.576650
           1       24.856100

[1245 rows x 1 columns]

In [55]:
df = weekly_groups
df

                        diff
date       binary
2010-04-18 0      -38.238000
2010-04-25 0      -57.408500
           1       63.305000
2010-05-02 0      -32.484750
           1        7.301000
...                      ...
2022-12-18 1        5.721450
2022-12-25 0      -44.339633
           1        3.505350
2023-01-01 0      -15.576650
           1       24.856100

[1245 rows x 1 columns]

In [56]:
grouped = df.groupby('date')['diff']
diff1 = grouped.apply(lambda x: x.loc[x.index.get_level_values('binary') == 1].sum() / x.loc[x.index.get_level_values('binary') == 0].sum() if 0 in x.index.get_level_values('binary') and 1 in x.index.get_level_values('binary') else '+' if 1 in x.index.get_level_values('binary') else '-').to_numpy()
diff1

array(['-', -1.1027112709790412, -0.22475161421897702,
       -0.20537651350794184, -0.9395575592367362, -0.7506418840681859,
       -1.4519023741745352, -0.25487691138089946, -0.7861180567590093,
       '-', -2.768768578837507, -0.15287133234387695, -3.562962962962933,
       -0.4285225547290964, '+', -2.7317226060531907, -0.916425039115492,
       -0.4315905817731179, -1.1267979760502875, -0.2929781285972684,
       -4.375310983953198, -0.8119968930941972, -0.22405645712864466,
       -0.6626808768737568, -3.584571598768895, '+', '+',
       -1.4439691653132662, -4.052543077014381, -2.449563819146372,
       -0.21654951288691632, -0.3096557291839464, -1.7393844527970816,
       -0.5643135188427475, -0.6997605220878309, -3.6803117796087936,
       -2.1219844561913135, -0.4706952258297748, -2.2771064283098683,
       -0.4703338475099183, -0.3346167394134316, -1.459473535407643, '+',
       -1.100993559751203, -5.077367993075045, -0.21220979539913065,
       -2.1346194423511595, -0.49694293230726644, -0.47469424100895863,
       -3.039415838602843, -2.77774032249002, '+', -1.6859603178125901,
       -0.40878490845201393, -0.8959367717093953, -0.6154386199518631,
       -0.7531610420137635, -0.5732585723528154, -0.0803065665414054,
       -0.9348815552063346, -0.1899476771840788, -1.5297824509231335,
       -5.748272495117921, -0.3839769036448939, -2.5699007364713298,
       -0.337502886272003, -0.5072974910394268, -0.37318769630842197,
       -0.19385255939260487, -0.19674459041731032, -1.543037044429733,
       -4.727043808209673, -0.19672259223813165, -2.055792014445493,
       -0.5093636181135206, -0.8807135999999999, -0.9370302466829455,
       -4.345937238055329, -0.33114148132315435, '+', -1.2479759299781203,
       -1.0333160711203149, -1.536339596381353, -0.27217714823613837,
       -0.5921959224003327, -0.7233065092717997, -1.2132560412606876,
       -0.5894925618862832, -0.5014041829872163, -0.4099369926611561,
       -4.435008959728353, -1.5067415257318446, -0.6836572048699457,
       -1.048002880726825, -1.7073053892215584, '+', -1.3974174050415538,
       -1.1951994696408368, -0.9197596441139353, -0.18355280337225194,
       -0.1906917735042732, '+', -0.8640009722897513, -3.140089102609416,
       -1.4625315899351834, '+', -0.09393898170934765,
       -0.5928600253660776, -1.4759380397633297, -2.7892479977319553, '-',
       -1.4277235305380007, -0.5718631839714848, -1.6601739613213755,
       -0.8579176553414499, -0.444326434828344, -0.21354974012947905,
       -0.29696235860097303, -1.6737830058816137, -1.2127165453176334,
       -0.2226357267950976, -0.49340458394731235, -0.5039498370692145,
       -3.294377763739725, -0.6366734458308113, -0.16206312984347662,
       -2.7138612244897984, -0.8373062102338863, -2.069121301106794,
       -0.38947536958959506, -1.47100306977512, '-', -0.3798283261802573,
       -2.2793597899626374, -1.2459740259740326, -2.7015323814137933,
       -2.5972008422244874, -0.5648314343686662, -2.3238387715930764, '+',
       -0.19329585819222694, -2.402385261497034, -0.7839279257563035,
       -23.712274466925376, -0.6944879178665262, -0.354493884985688,
       -1.8171508664627738, -0.9419126661698621, -0.23389056029002903,
       -0.7745786516853914, -0.25754527162977936, '-',
       -1.7767982160452156, -2.476760181223895, -1.3905857693264685, '+',
       -1.048520394561455, -1.385461844007473, -0.28680545687082776,
       -1.8637202435873725, '-', -0.19987414364247647,
       -0.5217223909067806, -0.40223148525402175, -0.6108999779687171,
       -2.130209099961034, -0.5002159064143826, -2.7021655472428625,
       -0.3710239810150303, -2.1988650967831416, -1.9952479790255466,
       -2.452619042268732, -3.000556152904959, -2.9575729093235634,
       -2.0168301622379228, -0.16849626502111426, -0.8590016506346355,
       '+', -1.1502651171735463, -0.4245254340336487, -1.7620349736772989,
       -0.9673982800667393, -0.16506909000371575, -0.45617627785058856,
       -3.1237737232969787, -7.022188286022243, -1.9654101944005118,
       -0.20375067570379435, -0.026284662899195493, -0.40927946500402196,
       -2.1194906048489526, -0.17409114183307134, -0.6835215658745059,
       -2.502308553943698, -0.21532038482483298, '+', -2.0266849127608535,
       -0.8621936466078551, -0.39365242647948656, -0.9973318598042332,
       -0.3220693100785753, -2.462048117565231, -2.8884460531132383,
       -1.711523769431046, -9.50877759827738, -0.24877157360403226,
       -0.5768580060422992, -0.3605015673981203, -0.13403108646413608,
       -2.002126772310262, -0.7124551321393361, -0.9011827769038012,
       -1.5197386332698042, -9.011033401663997, -0.5874314836484467,
       -1.3077451607553472, -9.887483787291208, -0.350194844124686,
       -1.2673293127838527, '+', -2.188344864876775, -1.553941822560886,
       -1.2959609210849197, -0.8202754498798104, -0.7947351056625331, '+',
       -1.7326874636698422, -0.4899347354129237, -0.8228169564368084, '+',
       -1.0209349861532602, -1.6344025112700173, -0.8111241309272641,
       -1.5942785955929224, -0.36496064916655147, -3.093424329060208,
       -4.214756557712424, '+', '+', -0.9136088859018686,
       -3.4866573512371746, -0.921281851274051, '+', -1.7001763216434822,
       -1.9835433235040059, -0.19337853716726588, -0.83534664016821,
       -1.6253680854688406, '+', '+', -1.0794622989929505,
       -0.5287127489410788, -2.2795378960265937, -11.131768524382856,
       -0.8561393025678741, -1.594465029480182, -2.05498291994654,
       -1.3411896793882498, -1.297986982964034, -1.5239489414556913,
       -0.5957935098787355, -2.1817877507675947, -2.221798960548077,
       -0.4647799965836413, -5.579909737418017, -4.825724645363754,
       -0.38343524511283356, -0.44688388784606925, -1.5385464797663602,
       -1.105096190053224, -0.7889259330294549, -0.864838714836318,
       -0.37667056125859927, -1.1839706055160504, -5.061650181009669,
       -0.17772920992241298, -0.8422382786728245, -3.143835616438351,
       -1.3330029140591424, -0.9615650904736074, -0.5668500581170085,
       -0.27305236470624983, '+', -3.7761905449018682,
       -0.3389813429227665, -0.11329247566565215, -3.187051992556318,
       -0.7520384509994138, -2.359139062738505, -0.17262571810861235,
       -0.6704644501250248, -0.3720224383723444, -4.784145088130065,
       -1.656704760657195, -0.2593866653217251, -0.1812263992025693,
       -0.40215319837666114, -0.6418981937000365, -0.5874903409227228,
       -1.8373075163896955, -6.069878928575133, -0.3532922135733941,
       -0.7667610254520736, -0.1334497022014861, '+', -0.8879562178119321,
       -0.9238799217824069, -1.6223082783138656, -4.44154750056752,
       -0.29823806645928136, -1.9416894582453637, -0.6988868579408912,
       -0.20449889564525203, -1.6501083567267965, -0.7063355818556338,
       -3.7679466980294802, '-', -0.3670751685332064, -0.7115159920585916,
       '+', -1.7018838020750586, -9.163323521378944, -0.9036451471233952,
       -0.4601867506524331, -0.2608742943737918, -3.1820548751317905,
       -5.169087868190795, -0.31985693502996104, -0.3169791853408646,
       -1.7397983882450012, '-', -1.8295443454826468, -0.4379794289077332,
       -2.2570295078962967, -1.1081099338295801, -5.804805548674821,
       -2.0208675255081774, -1.1225876100315764, -1.5178078304797613, '+',
       -0.7488325147656058, -0.7987112448462442, -0.1460644393494745,
       -1.7361100270531789, -1.6511032724734087, -2.820553930211329,
       -0.6003915526619049, -2.878385769886111, '+', '-',
       -1.8787631977873158, -1.8504130314126856, -1.0473206516117042,
       -0.314794420285998, -0.6673774434494404, -0.9885095262863361,
       -0.9218364566842325, -1.4600211575327984, '+', -0.5380495575367872,
       -0.7720116962518895, -0.2425618700239278, '-', -1.5945997168307358,
       -1.0699121922252335, -10.390487617523883, -0.7703680948819415,
       -1.5126016695205513, -0.4826673528655008, -3.8798160723997124,
       -1.62407506725792, -1.180222043506397, -2.876691852632901,
       -0.9557090853042097, -0.5492618211038803, -1.1581750611433816,
       -0.43540912015422545, -4.419875320865616, -1.0787194649902414,
       -4.030462047325092, -1.2803000299450353, -0.9389273227702011,
       -2.1134690686262014, -0.2345891699140874, '+', -4.927018836532185,
       '+', -0.06879346180064021, -5.025561626714474, -0.7762131374643101,
       -0.21675041942957612, -0.2099641870989495, -0.7172375874467342,
       -1.2246983587882367, -3.3843310465807694, -0.45693659029518585,
       '+', -9.932798958194496, -1.7078626190062332, -1.216550296502029,
       -0.43619646606954443, -0.026886665250261847, '+', '+',
       -0.8568264805058566, -1.0223236524233563, -0.6636980446856012,
       -0.18476881794492805, -0.621770738424276, '-', -1.853274296856459,
       -0.5464390824234913, -0.6365299346360654, -0.9815128790348947,
       -3.0674799698432547, -1.002242695142236, -0.6942023464806056,
       -1.0139319551958257, -1.706089755785715, -0.9584477851504981,
       -0.17315404603543075, -1.8871383019984453, -0.2119453394472831,
       -0.7816549916813653, -4.012687519328881, -2.202719796027708,
       -0.04944168532191807, -1.2874152642179244, '-', -1.529994276360813,
       -4.508889286650883, -0.7498469608536412, -0.7947486742749862,
       -3.507035756062267, -1.6401480632674952, -0.5923704769802187,
       -1.1262641279771344, -0.9065549116497377, -0.5513312681338044, '-',
       -0.9453638454234912, -0.4240927668186004, -2.4223337956697617,
       -1.6545291711987613, -0.5514596189866363, '-', -0.9105507376437296,
       -3.1010554118507256, -3.836365593133789, -1.7729749528585534,
       -0.9103414141051653, -2.269172001772452, -0.6098436839881678,
       -8.541182956022874, -7.229131732343212, -0.3442525456495229,
       -1.6916006783185957, -3.502435893136905, -1.8896724074011635,
       -24.283903435749263, -0.41990169466657096, -3.780737920059658,
       -0.18288201623322517, '+', -0.715763847666728, -0.821145949443668,
       -0.7769341914798809, -2.7670492003993274, -0.09906007137459034,
       -3.6011110938567548, -812.6746823950753, -1.2769688488163478,
       -1.3702529011204878, -0.8708936252969256, -1.4791345124843418,
       -0.7316334182148942, -0.5047158276464254, -1.1834662476378615,
       -0.8272234748090137, -8.544196557670421, -1.1094079853143621, '+',
       -1.5571350222294762, -0.3649646188782287, -0.3134880130376997, '-',
       '+', -0.76479520738522, -1.3915438138639604, -3.593544062601214,
       -1.040327504706199, -0.09637343609003933, -1.0812061283288903,
       -0.992141492822632, -14.780217614127073, -3.01834418338825,
       -4.496199112718927, -1.6274320554515713, -5.965493386843608,
       -1.921990442294786, -1.2725384885585358, -0.24354590815312308,
       -0.16757713278834754, -1.1460795391964507, -4.796247648078493,
       -0.21438015528088109, -0.9772959150017848, -1.0413712684013707,
       -0.8377148209033887, -0.9237487193752597, -1.569309480504467,
       -2.354659494737241, -1.725733420096531, -0.7738188774638801, '+',
       -2.746815384750805, -0.20565946085491346, -0.4928710032492198,
       -0.6454766060552484, -23.193337207714812, -0.6905466255545524,
       -0.7470755552598434, '+', -2.6464492998692157, -1.2014656330195073,
       -0.5714539007092184, -0.5418268257819945, -2.3221473133427293,
       -0.7907824740385487, -1.4445237675967568, -1.6566927583031559,
       -0.8117206044374295, -0.40806534543084305, -0.49464792800633006,
       -1.9793108642170218, -0.18512877152203946, -2.472490917348082, '+',
       -4.988736454497671, -1.3665649580091863, -0.5194283508619351, '+',
       -1.1618879101194448, -5.27663466666665, -0.9315373174044023,
       -2.5219663915897255, '-', -1.8253115255902495, -0.98099915895711,
       -2.9603636487790377, -4.147440223414632, -3.2240843112936486,
       -0.5947493799160735, -0.3694683145890114, -3.8951124864917572, '+',
       -0.2659179362290988, -0.26991810512851255, -1.0709188178224616,
       -0.40068851660495747, -0.2884422302951506, -1.854334808046472,
       -0.91622419578852, -0.18856846292802545, -0.6854215319668845,
       -9.246647658873403, -0.5860139162463576, '-', -2.049843311294248,
       -0.8990201154951866, -2.975983271408004, -0.36717622960465657,
       -0.608977361597457, -0.15237833718529764, -3.095597791445665,
       -0.16180713240202918, -1.2623922085001922, -0.8126516980239569,
       -0.6115171851632938, -0.39372521850945363, -1.9514552259650324,
       -1.876959422673368, -0.9734099878355855, -0.3996033570935874,
       -5.3396780661387755, -5.647345514789992, -0.937546186282367,
       -1.6567011151613018, -0.44659274534284044, '+',
       -0.6849922533707918, -0.9301686758253576, -0.8375861785059597,
       -1.670432416840056, -3.3527747215885957, -0.6873884308614643,
       -0.3136946900306772, -1.6367798912237375, -3.880139925032693,
       -0.5464792131436679, -0.44770145503906716, -0.8369315210189218,
       -0.1016141115018435, -0.6311953953097933, -1.1209605898455608,
       -0.2411168283523252, -2.2427351788435788, -0.500668913141879,
       -0.8166900551312032, -0.5629924198477844, -0.44528068695716067,
       -0.5827522383120188, -0.7542396750241326, -3.6183239216929555,
       -0.6462177630774323, -1.137247307248488, -0.36118707922362825,
       -0.675369731884374, '-', -1.750814450647511, -1.9551462322299489,
       -0.23720968061032702, -3.8611177721292207, -1.096363069951839,
       -1.2669514237640622, -1.6222232253972746, -1.2151213515908617,
       -0.8440539876961284, -0.06721283242231893, -0.5700041038297083,
       -0.49905192382090113, -0.5944098885538324, -2.388901484405683,
       -1.9758433733418408, -0.8935935455289286, -0.14010294450722743,
       -2.5023110908819572, -0.29132290806744016, -0.2373572653851436,
       -2.0839653182656135, -0.8834501476437132, -0.1523237280112907,
       -0.5099044681248017, -3.0743481741841068, -1.8559496521539298,
       -1.805801658282092, -0.31691014641330134, -1.6228522686342615,
       -3.5116685456595103, -0.30949006583110017, -0.07905681072388779,
       -1.5957282214083268], dtype=object)

In [57]:
diff2 = list(diff1)
diff2

['-',
 -1.1027112709790412,
 -0.22475161421897702,
 -0.20537651350794184,
 -0.9395575592367362,
 -0.7506418840681859,
 -1.4519023741745352,
 -0.25487691138089946,
 -0.7861180567590093,
 '-',
 -2.768768578837507,
 -0.15287133234387695,
 -3.562962962962933,
 -0.4285225547290964,
 '+',
 -2.7317226060531907,
 -0.916425039115492,
 -0.4315905817731179,
 -1.1267979760502875,
 -0.2929781285972684,
 -4.375310983953198,
 -0.8119968930941972,
 -0.22405645712864466,
 -0.6626808768737568,
 -3.584571598768895,
 '+',
 '+',
 -1.4439691653132662,
 -4.052543077014381,
 -2.449563819146372,
 -0.21654951288691632,
 -0.3096557291839464,
 -1.7393844527970816,
 -0.5643135188427475,
 -0.6997605220878309,
 -3.6803117796087936,
 -2.1219844561913135,
 -0.4706952258297748,
 -2.2771064283098683,
 -0.4703338475099183,
 -0.3346167394134316,
 -1.459473535407643,
 '+',
 -1.100993559751203,
 -5.077367993075045,
 -0.21220979539913065,
 -2.1346194423511595,
 -0.49694293230726644,
 -0.47469424100895863,
 -3.039415838602843,
 -2.77774032249002,
 '+',
 -1.6859603178125901,
 -0.40878490845201393,
 -0.8959367717093953,
 -0.6154386199518631,
 -0.7531610420137635,
 -0.5732585723528154,
 -0.0803065665414054,
 -0.9348815552063346,
 -0.1899476771840788,
 -1.5297824509231335,
 -5.748272495117921,
 -0.3839769036448939,
 -2.5699007364713298,
 -0.337502886272003,
 -0.5072974910394268,
 -0.37318769630842197,
 -0.19385255939260487,
 -0.19674459041731032,
 -1.543037044429733,
 -4.727043808209673,
 -0.19672259223813165,
 -2.055792014445493,
 -0.5093636181135206,
 -0.8807135999999999,
 -0.9370302466829455,
 -4.345937238055329,
 -0.33114148132315435,
 '+',
 -1.2479759299781203,
 -1.0333160711203149,
 -1.536339596381353,
 -0.27217714823613837,
 -0.5921959224003327,
 -0.7233065092717997,
 -1.2132560412606876,
 -0.5894925618862832,
 -0.5014041829872163,
 -0.4099369926611561,
 -4.435008959728353,
 -1.5067415257318446,
 -0.6836572048699457,
 -1.048002880726825,
 -1.7073053892215584,
 '+',
 -1.3974174050415538,
 -1.1951994696408368,
 -0.9197596441139353,
 -0.18355280337225194,
 -0.1906917735042732,
 '+',
 -0.8640009722897513,
 -3.140089102609416,
 -1.4625315899351834,
 '+',
 -0.09393898170934765,
 -0.5928600253660776,
 -1.4759380397633297,
 -2.7892479977319553,
 '-',
 -1.4277235305380007,
 -0.5718631839714848,
 -1.6601739613213755,
 -0.8579176553414499,
 -0.444326434828344,
 -0.21354974012947905,
 -0.29696235860097303,
 -1.6737830058816137,
 -1.2127165453176334,
 -0.2226357267950976,
 -0.49340458394731235,
 -0.5039498370692145,
 -3.294377763739725,
 -0.6366734458308113,
 -0.16206312984347662,
 -2.7138612244897984,
 -0.8373062102338863,
 -2.069121301106794,
 -0.38947536958959506,
 -1.47100306977512,
 '-',
 -0.3798283261802573,
 -2.2793597899626374,
 -1.2459740259740326,
 -2.7015323814137933,
 -2.5972008422244874,
 -0.5648314343686662,
 -2.3238387715930764,
 '+',
 -0.19329585819222694,
 -2.402385261497034,
 -0.7839279257563035,
 -23.712274466925376,
 -0.6944879178665262,
 -0.354493884985688,
 -1.8171508664627738,
 -0.9419126661698621,
 -0.23389056029002903,
 -0.7745786516853914,
 -0.25754527162977936,
 '-',
 -1.7767982160452156,
 -2.476760181223895,
 -1.3905857693264685,
 '+',
 -1.048520394561455,
 -1.385461844007473,
 -0.28680545687082776,
 -1.8637202435873725,
 '-',
 -0.19987414364247647,
 -0.5217223909067806,
 -0.40223148525402175,
 -0.6108999779687171,
 -2.130209099961034,
 -0.5002159064143826,
 -2.7021655472428625,
 -0.3710239810150303,
 -2.1988650967831416,
 -1.9952479790255466,
 -2.452619042268732,
 -3.000556152904959,
 -2.9575729093235634,
 -2.0168301622379228,
 -0.16849626502111426,
 -0.8590016506346355,
 '+',
 -1.1502651171735463,
 -0.4245254340336487,
 -1.7620349736772989,
 -0.9673982800667393,
 -0.16506909000371575,
 -0.45617627785058856,
 -3.1237737232969787,
 -7.022188286022243,
 -1.9654101944005118,
 -0.20375067570379435,
 -0.026284662899195493,
 -0.40927946500402196,
 -2.1194906048489526,
 -0.17409114183307134,
 -0.6835215658745059,
 -2.502308553943698,
 -0.21532038482483298,
 '+',
 -2.0266849127608535,
 -0.8621936466078551,
 -0.39365242647948656,
 -0.9973318598042332,
 -0.3220693100785753,
 -2.462048117565231,
 -2.8884460531132383,
 -1.711523769431046,
 -9.50877759827738,
 -0.24877157360403226,
 -0.5768580060422992,
 -0.3605015673981203,
 -0.13403108646413608,
 -2.002126772310262,
 -0.7124551321393361,
 -0.9011827769038012,
 -1.5197386332698042,
 -9.011033401663997,
 -0.5874314836484467,
 -1.3077451607553472,
 -9.887483787291208,
 -0.350194844124686,
 -1.2673293127838527,
 '+',
 -2.188344864876775,
 -1.553941822560886,
 -1.2959609210849197,
 -0.8202754498798104,
 -0.7947351056625331,
 '+',
 -1.7326874636698422,
 -0.4899347354129237,
 -0.8228169564368084,
 '+',
 -1.0209349861532602,
 -1.6344025112700173,
 -0.8111241309272641,
 -1.5942785955929224,
 -0.36496064916655147,
 -3.093424329060208,
 -4.214756557712424,
 '+',
 '+',
 -0.9136088859018686,
 -3.4866573512371746,
 -0.921281851274051,
 '+',
 -1.7001763216434822,
 -1.9835433235040059,
 -0.19337853716726588,
 -0.83534664016821,
 -1.6253680854688406,
 '+',
 '+',
 -1.0794622989929505,
 -0.5287127489410788,
 -2.2795378960265937,
 -11.131768524382856,
 -0.8561393025678741,
 -1.594465029480182,
 -2.05498291994654,
 -1.3411896793882498,
 -1.297986982964034,
 -1.5239489414556913,
 -0.5957935098787355,
 -2.1817877507675947,
 -2.221798960548077,
 -0.4647799965836413,
 -5.579909737418017,
 -4.825724645363754,
 -0.38343524511283356,
 -0.44688388784606925,
 -1.5385464797663602,
 -1.105096190053224,
 -0.7889259330294549,
 -0.864838714836318,
 -0.37667056125859927,
 -1.1839706055160504,
 -5.061650181009669,
 -0.17772920992241298,
 -0.8422382786728245,
 -3.143835616438351,
 -1.3330029140591424,
 -0.9615650904736074,
 -0.5668500581170085,
 -0.27305236470624983,
 '+',
 -3.7761905449018682,
 -0.3389813429227665,
 -0.11329247566565215,
 -3.187051992556318,
 -0.7520384509994138,
 -2.359139062738505,
 -0.17262571810861235,
 -0.6704644501250248,
 -0.3720224383723444,
 -4.784145088130065,
 -1.656704760657195,
 -0.2593866653217251,
 -0.1812263992025693,
 -0.40215319837666114,
 -0.6418981937000365,
 -0.5874903409227228,
 -1.8373075163896955,
 -6.069878928575133,
 -0.3532922135733941,
 -0.7667610254520736,
 -0.1334497022014861,
 '+',
 -0.8879562178119321,
 -0.9238799217824069,
 -1.6223082783138656,
 -4.44154750056752,
 -0.29823806645928136,
 -1.9416894582453637,
 -0.6988868579408912,
 -0.20449889564525203,
 -1.6501083567267965,
 -0.7063355818556338,
 -3.7679466980294802,
 '-',
 -0.3670751685332064,
 -0.7115159920585916,
 '+',
 -1.7018838020750586,
 -9.163323521378944,
 -0.9036451471233952,
 -0.4601867506524331,
 -0.2608742943737918,
 -3.1820548751317905,
 -5.169087868190795,
 -0.31985693502996104,
 -0.3169791853408646,
 -1.7397983882450012,
 '-',
 -1.8295443454826468,
 -0.4379794289077332,
 -2.2570295078962967,
 -1.1081099338295801,
 -5.804805548674821,
 -2.0208675255081774,
 -1.1225876100315764,
 -1.5178078304797613,
 '+',
 -0.7488325147656058,
 -0.7987112448462442,
 -0.1460644393494745,
 -1.7361100270531789,
 -1.6511032724734087,
 -2.820553930211329,
 -0.6003915526619049,
 -2.878385769886111,
 '+',
 '-',
 -1.8787631977873158,
 -1.8504130314126856,
 -1.0473206516117042,
 -0.314794420285998,
 -0.6673774434494404,
 -0.9885095262863361,
 -0.9218364566842325,
 -1.4600211575327984,
 '+',
 -0.5380495575367872,
 -0.7720116962518895,
 -0.2425618700239278,
 '-',
 -1.5945997168307358,
 -1.0699121922252335,
 -10.390487617523883,
 -0.7703680948819415,
 -1.5126016695205513,
 -0.4826673528655008,
 -3.8798160723997124,
 -1.62407506725792,
 -1.180222043506397,
 -2.876691852632901,
 -0.9557090853042097,
 -0.5492618211038803,
 -1.1581750611433816,
 -0.43540912015422545,
 -4.419875320865616,
 -1.0787194649902414,
 -4.030462047325092,
 -1.2803000299450353,
 -0.9389273227702011,
 -2.1134690686262014,
 -0.2345891699140874,
 '+',
 -4.927018836532185,
 '+',
 -0.06879346180064021,
 -5.025561626714474,
 -0.7762131374643101,
 -0.21675041942957612,
 -0.2099641870989495,
 -0.7172375874467342,
 -1.2246983587882367,
 -3.3843310465807694,
 -0.45693659029518585,
 '+',
 -9.932798958194496,
 -1.7078626190062332,
 -1.216550296502029,
 -0.43619646606954443,
 -0.026886665250261847,
 '+',
 '+',
 -0.8568264805058566,
 -1.0223236524233563,
 -0.6636980446856012,
 -0.18476881794492805,
 -0.621770738424276,
 '-',
 -1.853274296856459,
 -0.5464390824234913,
 -0.6365299346360654,
 -0.9815128790348947,
 -3.0674799698432547,
 -1.002242695142236,
 -0.6942023464806056,
 -1.0139319551958257,
 -1.706089755785715,
 -0.9584477851504981,
 -0.17315404603543075,
 -1.8871383019984453,
 -0.2119453394472831,
 -0.7816549916813653,
 -4.012687519328881,
 -2.202719796027708,
 -0.04944168532191807,
 -1.2874152642179244,
 '-',
 -1.529994276360813,
 -4.508889286650883,
 -0.7498469608536412,
 -0.7947486742749862,
 -3.507035756062267,
 -1.6401480632674952,
 -0.5923704769802187,
 -1.1262641279771344,
 -0.9065549116497377,
 -0.5513312681338044,
 '-',
 -0.9453638454234912,
 -0.4240927668186004,
 -2.4223337956697617,
 -1.6545291711987613,
 -0.5514596189866363,
 '-',
 -0.9105507376437296,
 -3.1010554118507256,
 -3.836365593133789,
 -1.7729749528585534,
 -0.9103414141051653,
 -2.269172001772452,
 -0.6098436839881678,
 -8.541182956022874,
 -7.229131732343212,
 -0.3442525456495229,
 -1.6916006783185957,
 -3.502435893136905,
 -1.8896724074011635,
 -24.283903435749263,
 -0.41990169466657096,
 -3.780737920059658,
 -0.18288201623322517,
 '+',
 -0.715763847666728,
 -0.821145949443668,
 -0.7769341914798809,
 -2.7670492003993274,
 -0.09906007137459034,
 -3.6011110938567548,
 -812.6746823950753,
 -1.2769688488163478,
 -1.3702529011204878,
 -0.8708936252969256,
 -1.4791345124843418,
 -0.7316334182148942,
 -0.5047158276464254,
 -1.1834662476378615,
 -0.8272234748090137,
 -8.544196557670421,
 -1.1094079853143621,
 '+',
 -1.5571350222294762,
 -0.3649646188782287,
 -0.3134880130376997,
 '-',
 '+',
 -0.76479520738522,
 -1.3915438138639604,
 -3.593544062601214,
 -1.040327504706199,
 -0.09637343609003933,
 -1.0812061283288903,
 -0.992141492822632,
 -14.780217614127073,
 -3.01834418338825,
 -4.496199112718927,
 -1.6274320554515713,
 -5.965493386843608,
 -1.921990442294786,
 -1.2725384885585358,
 -0.24354590815312308,
 -0.16757713278834754,
 -1.1460795391964507,
 -4.796247648078493,
 -0.21438015528088109,
 -0.9772959150017848,
 -1.0413712684013707,
 -0.8377148209033887,
 -0.9237487193752597,
 -1.569309480504467,
 -2.354659494737241,
 -1.725733420096531,
 -0.7738188774638801,
 '+',
 -2.746815384750805,
 -0.20565946085491346,
 -0.4928710032492198,
 -0.6454766060552484,
 -23.193337207714812,
 -0.6905466255545524,
 -0.7470755552598434,
 '+',
 -2.6464492998692157,
 -1.2014656330195073,
 -0.5714539007092184,
 -0.5418268257819945,
 -2.3221473133427293,
 -0.7907824740385487,
 -1.4445237675967568,
 -1.6566927583031559,
 -0.8117206044374295,
 -0.40806534543084305,
 -0.49464792800633006,
 -1.9793108642170218,
 -0.18512877152203946,
 -2.472490917348082,
 '+',
 -4.988736454497671,
 -1.3665649580091863,
 -0.5194283508619351,
 '+',
 -1.1618879101194448,
 -5.27663466666665,
 -0.9315373174044023,
 -2.5219663915897255,
 '-',
 -1.8253115255902495,
 -0.98099915895711,
 -2.9603636487790377,
 -4.147440223414632,
 -3.2240843112936486,
 -0.5947493799160735,
 -0.3694683145890114,
 -3.8951124864917572,
 '+',
 -0.2659179362290988,
 -0.26991810512851255,
 -1.0709188178224616,
 -0.40068851660495747,
 -0.2884422302951506,
 -1.854334808046472,
 -0.91622419578852,
 -0.18856846292802545,
 -0.6854215319668845,
 -9.246647658873403,
 -0.5860139162463576,
 '-',
 -2.049843311294248,
 -0.8990201154951866,
 -2.975983271408004,
 -0.36717622960465657,
 -0.608977361597457,
 -0.15237833718529764,
 -3.095597791445665,
 -0.16180713240202918,
 -1.2623922085001922,
 -0.8126516980239569,
 -0.6115171851632938,
 -0.39372521850945363,
 -1.9514552259650324,
 -1.876959422673368,
 -0.9734099878355855,
 -0.3996033570935874,
 -5.3396780661387755,
 -5.647345514789992,
 -0.937546186282367,
 -1.6567011151613018,
 -0.44659274534284044,
 '+',
 -0.6849922533707918,
 -0.9301686758253576,
 -0.8375861785059597,
 -1.670432416840056,
 -3.3527747215885957,
 -0.6873884308614643,
 -0.3136946900306772,
 -1.6367798912237375,
 -3.880139925032693,
 -0.5464792131436679,
 -0.44770145503906716,
 -0.8369315210189218,
 -0.1016141115018435,
 -0.6311953953097933,
 -1.1209605898455608,
 -0.2411168283523252,
 -2.2427351788435788,
 -0.500668913141879,
 -0.8166900551312032,
 -0.5629924198477844,
 -0.44528068695716067,
 -0.5827522383120188,
 -0.7542396750241326,
 -3.6183239216929555,
 -0.6462177630774323,
 -1.137247307248488,
 -0.36118707922362825,
 -0.675369731884374,
 '-',
 -1.750814450647511,
 -1.9551462322299489,
 -0.23720968061032702,
 -3.8611177721292207,
 -1.096363069951839,
 -1.2669514237640622,
 -1.6222232253972746,
 -1.2151213515908617,
 -0.8440539876961284,
 -0.06721283242231893,
 -0.5700041038297083,
 -0.49905192382090113,
 -0.5944098885538324,
 -2.388901484405683,
 -1.9758433733418408,
 -0.8935935455289286,
 -0.14010294450722743,
 -2.5023110908819572,
 -0.29132290806744016,
 -0.2373572653851436,
 -2.0839653182656135,
 -0.8834501476437132,
 -0.1523237280112907,
 -0.5099044681248017,
 -3.0743481741841068,
 -1.8559496521539298,
 -1.805801658282092,
 -0.31691014641330134,
 -1.6228522686342615,
 -3.5116685456595103,
 -0.30949006583110017,
 -0.07905681072388779,
 -1.5957282214083268]

In [58]:
diff3 = []
for i in diff2:
    if i != '+' and i != '-':
        i = abs(float(i))
        i = 100*(1-1/(1+i))
    diff3.append(i)
diff3

['-',
 52.442353175079944,
 18.35079142657843,
 17.03837026907432,
 48.441849779723746,
 42.87809465199275,
 59.21534191031309,
 20.310909306668677,
 44.01265939752356,
 '-',
 73.46613412096387,
 13.260051495345781,
 78.08441558441544,
 29.997605099792146,
 '+',
 73.20272416878173,
 47.81950874209301,
 30.147626511943436,
 52.98095958050906,
 22.659171266502064,
 81.39642519316038,
 44.812267404477566,
 18.304421811901527,
 39.85616759601863,
 78.18771114255185,
 '+',
 '+',
 59.08295349250772,
 80.20798665627777,
 71.01082767480267,
 17.80030410542326,
 23.64405563108517,
 63.49544880497011,
 36.07419561650384,
 41.1681829878193,
 78.63390203283454,
 67.96909100502195,
 32.004946882465454,
 69.48527544417473,
 31.98823507371823,
 25.07212217048145,
 59.34089204036683,
 '+',
 52.403471426232315,
 83.54550849743727,
 17.50602875876438,
 68.09820080583889,
 33.19718618406641,
 32.18933307043916,
 75.24394516545043,
 73.52914931588334,
 '+',
 62.76936805922782,
 29.016843238418176,
 47.25562503340287,
 38.097307588833175,
 42.96017444858615,
 36.43765763789894,
 7.433683088542753,
 48.31724984357708,
 15.96269153897384,
 60.47090928174106,
 85.18139270867535,
 27.74445893089963,
 71.98801664753147,
 25.233806202296773,
 33.65609602982861,
 27.17674337686484,
 16.237562826956708,
 16.439981596131936,
 60.67693932377431,
 82.53898462298284,
 16.438445594163774,
 67.2752597273391,
 33.74691240737266,
 46.82869310882848,
 48.3745800194683,
 81.29420613318375,
 24.87650531286876,
 '+',
 55.515537926167525,
 50.819254605654066,
 60.573103009284715,
 21.394594975511815,
 37.19365902580388,
 41.97201747804227,
 54.81769929201719,
 37.08683991491727,
 33.395683099111594,
 29.074844818946765,
 81.6007663021409,
 60.107574325675664,
 40.60548684687598,
 51.17194368178304,
 63.062903653897216,
 '+',
 58.28844831537931,
 54.446053134132136,
 47.91014577965307,
 15.508628161689275,
 16.015208784306665,
 '+',
 46.35195931407733,
 75.84593048082661,
 59.391383887736396,
 '+',
 8.587223170579605,
 37.21984455161552,
 59.61126716662151,
 73.60953939677351,
 '-',
 58.80914826498416,
 36.38123150938682,
 62.4084734855733,
 46.17630134871511,
 30.763574224905156,
 17.59711473439024,
 22.896760004762584,
 62.59980717207547,
 54.80668311916784,
 18.209489704565883,
 33.038909164398255,
 33.50842060339422,
 76.71373933509851,
 38.90045674368609,
 13.946155392203663,
 73.07384580215763,
 45.572491159614515,
 67.41738426436983,
 28.030390326719722,
 59.530604707382764,
 '-',
 27.5272161741835,
 69.5062431679266,
 55.47588759107218,
 72.98416177523612,
 72.20060697579494,
 36.09535327340535,
 69.91430485297842,
 '+',
 16.198485636668426,
 70.60885457868447,
 43.94392365509688,
 95.9534279155956,
 40.9851206694311,
 26.171685890588847,
 64.50314351621486,
 48.504378316232255,
 18.95553526522259,
 43.64859517214082,
 20.480000000000054,
 '-',
 63.98730040153136,
 71.2375905188842,
 58.16924818883435,
 '+',
 51.18427902134316,
 58.07939655324592,
 22.288175367880648,
 65.08038792409054,
 '-',
 16.657925725086088,
 34.28499140345112,
 28.68509867906407,
 37.922899393110576,
 68.05325241650955,
 33.342927792968965,
 72.98878218061489,
 27.06181555922491,
 68.73891302869805,
 66.61378266498879,
 71.03648019785886,
 75.00347547243247,
 74.73198794028227,
 66.85262523170388,
 14.419923286453084,
 46.207686278351886,
 '+',
 53.49410674928925,
 29.801183179409698,
 63.79481036517698,
 49.171450939457095,
 14.168180361148309,
 31.326995556055515,
 75.75036684601369,
 87.53457330660778,
 66.27785249108985,
 16.92631869840221,
 2.5611473940322593,
 29.0417532623917,
 67.94348415585561,
 14.827736589620145,
 40.60070151340474,
 71.44740434494352,
 17.71717051021634,
 '+',
 66.96055159941214,
 46.29989196764872,
 28.246097735709775,
 49.933207389080835,
 24.361000412257773,
 71.11536391056073,
 74.28278581364496,
 63.12036754854529,
 90.48414536659409,
 19.921303372246225,
 36.582748974978095,
 26.49769585253462,
 11.818995798610754,
 66.69028072953567,
 41.60430943666712,
 47.40116457247922,
 60.313344138303584,
 90.01102124148558,
 37.00515516413555,
 56.66765910700944,
 90.81514131697459,
 25.93661541877038,
 55.895246695673485,
 '+',
 68.63576424821132,
 60.84484027136996,
 56.445251710666476,
 45.06325951569428,
 44.28147101792794,
 '+',
 63.40598720875832,
 32.8829661976531,
 45.13985639266973,
 '+',
 50.517952984551684,
 62.04072856285311,
 44.785673001440415,
 61.45363872258098,
 26.737814704724084,
 75.570575644925,
 80.82364940850329,
 '+',
 '+',
 47.742717575817075,
 77.71169220835965,
 47.95141590824509,
 '+',
 62.96538148326023,
 66.48280612779722,
 16.204291525662118,
 45.51437978449947,
 61.910102985752616,
 '+',
 '+',
 51.91064533921661,
 34.585486992720625,
 69.50789923142602,
 91.75717869995488,
 46.12473327747809,
 61.45640859918022,
 67.26659276977236,
 57.28667314724798,
 56.48365254401221,
 60.37954716218432,
 37.33525084482954,
 68.57112798429897,
 68.96144010705483,
 31.730362079470243,
 84.80222313213062,
 82.83475342769894,
 27.716168607628646,
 30.885953710586367,
 60.607378751164845,
 52.49623248927562,
 44.10053644274971,
 46.376059653621425,
 27.360980314290593,
 54.21183794899519,
 83.50284212815737,
 15.090838235567027,
 45.718205317044294,
 75.8677685950413,
 57.136787357881126,
 49.02029991986877,
 36.17768370243617,
 21.448635757355927,
 '+',
 79.06281186651137,
 25.31636043433051,
 10.176344324784292,
 76.11684780179979,
 42.92362707966993,
 70.23046735121588,
 14.721297293994983,
 40.13640937254572,
 27.114894623274644,
 82.71136036936296,
 62.35938540070867,
 20.596268998565403,
 15.342223922942544,
 28.681116930892635,
 39.09488396801946,
 37.0074907404631,
 64.75531840579478,
 85.85548620983894,
 26.106129188500915,
 43.39924949702109,
 11.773764812173681,
 '+',
 47.032670007625434,
 48.021704022279344,
 61.86565827252788,
 81.62287474480915,
 22.9725251604025,
 66.0059291031871,
 41.137928324901274,
 16.97792305037371,
 62.26569387392444,
 41.394880899541256,
 79.02661117387733,
 '-',
 26.851132767414466,
 41.572266654826194,
 '+',
 62.98878585259678,
 90.16069892986816,
 47.46920131038584,
 31.515609249763077,
 20.68995264142125,
 76.08830993714575,
 83.79014821370554,
 24.234212552946154,
 24.068655668147333,
 63.50096400193308,
 '-',
 64.65862068581838,
 30.457975969824236,
 69.29717714943588,
 52.56414364580097,
 85.30450293036307,
 66.89692641084028,
 52.887692584565514,
 60.28291008176534,
 '+',
 42.81899544085107,
 44.404639551498384,
 12.744871434313342,
 63.451762169191305,
 62.27985494254147,
 73.82578499697591,
 37.51529128376637,
 74.21607701419126,
 '+',
 '-',
 65.26286007933464,
 64.91736499308689,
 51.15567269773918,
 23.94248221843861,
 40.02557705643313,
 49.7110782331749,
 47.96643613862378,
 59.34994311175279,
 '+',
 34.98258914351777,
 43.566963913659684,
 19.52111004494744,
 '-',
 61.458409421955665,
 51.688771931674914,
 91.22074459339622,
 43.51457174974192,
 60.200615476355324,
 32.55398804948838,
 79.50742435445447,
 61.89133411320545,
 54.13311213055507,
 74.20481075067036,
 48.86765074037326,
 35.453130879615955,
 53.6645558553434,
 30.33345086364252,
 81.54939106901284,
 51.89346052500189,
 80.12111033554578,
 56.146121700305194,
 48.42509111835758,
 67.88148595800106,
 19.0013954140236,
 '+',
 83.12811165983933,
 '+',
 6.436553390281885,
 83.4040366367431,
 43.70045019329256,
 17.813876697177623,
 17.352925759097605,
 41.766939687894634,
 55.050085956610914,
 77.19150334736071,
 31.362833038780856,
 '+',
 90.85321148020867,
 63.07050464890301,
 54.88484959812936,
 30.371643182167716,
 2.618269976629739,
 '+',
 '+',
 46.14467154046784,
 50.551930755411135,
 39.89293891434633,
 15.595347813544224,
 38.339003392575265,
 '-',
 64.95254588380335,
 35.33531250174712,
 38.895098779700476,
 49.533509946851574,
 75.41475293267304,
 50.05600457795843,
 40.97517323846728,
 50.34588942193112,
 63.04631071966609,
 48.93915438633181,
 14.759702412533926,
 65.36362669887303,
 17.488027929043604,
 43.87241050208659,
 80.05062162474704,
 68.77653795251501,
 4.711237033313753,
 56.282533580892945,
 '-',
 60.47421888090525,
 81.84752047162763,
 42.8521452234793,
 44.28189225970796,
 77.81246801392838,
 62.12333641764084,
 37.20054381462747,
 52.96915435659583,
 47.549373275868454,
 35.53923520132718,
 '-',
 48.59573429656767,
 29.779855406892953,
 70.78017342243798,
 62.32853604134969,
 35.54456798217102,
 '-',
 47.65907126689063,
 75.61603295799605,
 79.32331663636627,
 63.937647580655636,
 47.653336067761686,
 69.41121484406973,
 37.88216769452817,
 89.51911933133249,
 87.84804967856246,
 25.60921656898817,
 62.847386387765155,
 77.78980037174306,
 65.39400115256133,
 96.0449144945472,
 29.5725891618979,
 79.08272704504327,
 15.460714908456852,
 '+',
 41.71692092942144,
 45.089519030285054,
 43.72329573065552,
 73.4540233800505,
 9.013162606362023,
 78.26611921335336,
 99.87710076009046,
 56.081963944309706,
 57.81040919611276,
 46.54960675055525,
 59.66334238968343,
 42.25105674901564,
 33.54226880406168,
 54.20126136221113,
 45.27215670187673,
 89.52242869310642,
 52.593333913497474,
 '+',
 60.89373492964266,
 26.738027772336558,
 23.866834712309025,
 '-',
 '+',
 43.33620151418964,
 58.18600544957929,
 78.23031658405985,
 50.988260576137414,
 8.790201670129171,
 51.95093910265619,
 49.80276232371844,
 93.66295177637626,
 75.1141277510777,
 81.80560821230314,
 61.94002436998767,
 85.64351519034106,
 65.77675321844482,
 55.99634483487683,
 19.584794301227692,
 14.352553512944233,
 53.40340459261698,
 82.74745903357822,
 17.653463320247997,
 49.425880445461935,
 51.013320532177595,
 45.584592961577286,
 48.018159028339646,
 61.079036698854324,
 70.19071528514917,
 63.31262651633096,
 43.62445835339449,
 '+',
 73.31066793229503,
 17.05783992347919,
 33.01497598764331,
 39.22733411583829,
 95.86663058752755,
 40.847535058551344,
 42.76149093899551,
 '+',
 72.5760618682984,
 54.57571605928682,
 36.36466207830299,
 35.14187305096258,
 69.8989868395148,
 44.15848856590531,
 59.09223656339766,
 62.35921534868392,
 44.80385123673541,
 28.98056874668571,
 33.09461169669083,
 66.43519103660888,
 15.620983640814156,
 71.20222849240183,
 '+',
 83.30198686153607,
 57.74466292946274,
 34.185774575502414,
 '+',
 53.7441328331981,
 84.0678954072203,
 48.22776702322279,
 71.60677051354185,
 '-',
 64.60567300481723,
 49.520422788748355,
 74.74979348655783,
 80.57286813256795,
 76.32623010562625,
 37.29422236535832,
 26.97896042230753,
 79.57146025225086,
 '+',
 21.005937953704333,
 21.25476470005896,
 51.71225489893978,
 28.606539702071775,
 22.386896634789398,
 64.96556755777338,
 47.81403959944763,
 15.865174687833228,
 40.66766200423455,
 90.24071058855996,
 36.948850841945024,
 '-',
 67.21143029555722,
 47.341263431575555,
 74.848988747232,
 26.856539899821996,
 37.84872156267257,
 13.222943565347133,
 75.58353991476737,
 13.927193928263627,
 55.798999119479376,
 44.8322035010841,
 37.94667477289912,
 28.24984532679481,
 66.11840860052243,
 65.24108083975804,
 49.326292753955855,
 28.551185953383452,
 84.22632837870493,
 84.95640105099017,
 48.38832709744418,
 62.35933375067353,
 30.87204375803769,
 '+',
 40.652546146754034,
 48.191056433324874,
 45.580783546541205,
 62.5528811853135,
 77.0261485153305,
 40.736822553093546,
 23.87881236113939,
 62.074953494282866,
 79.50878426926866,
 35.33699053301791,
 30.92498480821004,
 45.56138927567026,
 9.224111278250756,
 38.6952658844355,
 52.85155203789922,
 19.42740786718893,
 69.16183576986946,
 33.36304955459178,
 44.954837112939494,
 36.020163162570725,
 30.809287841148546,
 36.81891733942611,
 42.995246645174454,
 78.34712296158243,
 39.25469506958762,
 53.21084290954568,
 26.53471258554968,
 40.31168279044597,
 '-',
 63.64713004308192,
 66.16072703632668,
 19.172957044218187,
 79.42859961687392,
 52.29833923648667,
 55.88789466253349,
 61.86442136906567,
 54.85574642302025,
 45.77165274595071,
 6.297978283278494,
 36.305898974359266,
 33.291169964872104,
 37.28087067328567,
 70.49191295168701,
 66.3960808906078,
 47.19035653870088,
 12.288622284699247,
 71.44742502733592,
 22.56003562295866,
 19.182597623594432,
 67.57421381890285,
 46.90594804162732,
 13.218831159033318,
 33.77064436123355,
 75.45619673997912,
 64.98537713205799,
 64.35956201507594,
 24.064674972429113,
 61.87356749144291,
 77.83525119632162,
 23.634395854288105,
 7.326473447755955,
 61.475165552676984]

In [59]:
diff4 = []
for i in diff3:
    if i == '-':
        i = int('0')
    if i =='+':
        i = int('100')
    diff4.append(i)
diff4

[0,
 52.442353175079944,
 18.35079142657843,
 17.03837026907432,
 48.441849779723746,
 42.87809465199275,
 59.21534191031309,
 20.310909306668677,
 44.01265939752356,
 0,
 73.46613412096387,
 13.260051495345781,
 78.08441558441544,
 29.997605099792146,
 100,
 73.20272416878173,
 47.81950874209301,
 30.147626511943436,
 52.98095958050906,
 22.659171266502064,
 81.39642519316038,
 44.812267404477566,
 18.304421811901527,
 39.85616759601863,
 78.18771114255185,
 100,
 100,
 59.08295349250772,
 80.20798665627777,
 71.01082767480267,
 17.80030410542326,
 23.64405563108517,
 63.49544880497011,
 36.07419561650384,
 41.1681829878193,
 78.63390203283454,
 67.96909100502195,
 32.004946882465454,
 69.48527544417473,
 31.98823507371823,
 25.07212217048145,
 59.34089204036683,
 100,
 52.403471426232315,
 83.54550849743727,
 17.50602875876438,
 68.09820080583889,
 33.19718618406641,
 32.18933307043916,
 75.24394516545043,
 73.52914931588334,
 100,
 62.76936805922782,
 29.016843238418176,
 47.25562503340287,
 38.097307588833175,
 42.96017444858615,
 36.43765763789894,
 7.433683088542753,
 48.31724984357708,
 15.96269153897384,
 60.47090928174106,
 85.18139270867535,
 27.74445893089963,
 71.98801664753147,
 25.233806202296773,
 33.65609602982861,
 27.17674337686484,
 16.237562826956708,
 16.439981596131936,
 60.67693932377431,
 82.53898462298284,
 16.438445594163774,
 67.2752597273391,
 33.74691240737266,
 46.82869310882848,
 48.3745800194683,
 81.29420613318375,
 24.87650531286876,
 100,
 55.515537926167525,
 50.819254605654066,
 60.573103009284715,
 21.394594975511815,
 37.19365902580388,
 41.97201747804227,
 54.81769929201719,
 37.08683991491727,
 33.395683099111594,
 29.074844818946765,
 81.6007663021409,
 60.107574325675664,
 40.60548684687598,
 51.17194368178304,
 63.062903653897216,
 100,
 58.28844831537931,
 54.446053134132136,
 47.91014577965307,
 15.508628161689275,
 16.015208784306665,
 100,
 46.35195931407733,
 75.84593048082661,
 59.391383887736396,
 100,
 8.587223170579605,
 37.21984455161552,
 59.61126716662151,
 73.60953939677351,
 0,
 58.80914826498416,
 36.38123150938682,
 62.4084734855733,
 46.17630134871511,
 30.763574224905156,
 17.59711473439024,
 22.896760004762584,
 62.59980717207547,
 54.80668311916784,
 18.209489704565883,
 33.038909164398255,
 33.50842060339422,
 76.71373933509851,
 38.90045674368609,
 13.946155392203663,
 73.07384580215763,
 45.572491159614515,
 67.41738426436983,
 28.030390326719722,
 59.530604707382764,
 0,
 27.5272161741835,
 69.5062431679266,
 55.47588759107218,
 72.98416177523612,
 72.20060697579494,
 36.09535327340535,
 69.91430485297842,
 100,
 16.198485636668426,
 70.60885457868447,
 43.94392365509688,
 95.9534279155956,
 40.9851206694311,
 26.171685890588847,
 64.50314351621486,
 48.504378316232255,
 18.95553526522259,
 43.64859517214082,
 20.480000000000054,
 0,
 63.98730040153136,
 71.2375905188842,
 58.16924818883435,
 100,
 51.18427902134316,
 58.07939655324592,
 22.288175367880648,
 65.08038792409054,
 0,
 16.657925725086088,
 34.28499140345112,
 28.68509867906407,
 37.922899393110576,
 68.05325241650955,
 33.342927792968965,
 72.98878218061489,
 27.06181555922491,
 68.73891302869805,
 66.61378266498879,
 71.03648019785886,
 75.00347547243247,
 74.73198794028227,
 66.85262523170388,
 14.419923286453084,
 46.207686278351886,
 100,
 53.49410674928925,
 29.801183179409698,
 63.79481036517698,
 49.171450939457095,
 14.168180361148309,
 31.326995556055515,
 75.75036684601369,
 87.53457330660778,
 66.27785249108985,
 16.92631869840221,
 2.5611473940322593,
 29.0417532623917,
 67.94348415585561,
 14.827736589620145,
 40.60070151340474,
 71.44740434494352,
 17.71717051021634,
 100,
 66.96055159941214,
 46.29989196764872,
 28.246097735709775,
 49.933207389080835,
 24.361000412257773,
 71.11536391056073,
 74.28278581364496,
 63.12036754854529,
 90.48414536659409,
 19.921303372246225,
 36.582748974978095,
 26.49769585253462,
 11.818995798610754,
 66.69028072953567,
 41.60430943666712,
 47.40116457247922,
 60.313344138303584,
 90.01102124148558,
 37.00515516413555,
 56.66765910700944,
 90.81514131697459,
 25.93661541877038,
 55.895246695673485,
 100,
 68.63576424821132,
 60.84484027136996,
 56.445251710666476,
 45.06325951569428,
 44.28147101792794,
 100,
 63.40598720875832,
 32.8829661976531,
 45.13985639266973,
 100,
 50.517952984551684,
 62.04072856285311,
 44.785673001440415,
 61.45363872258098,
 26.737814704724084,
 75.570575644925,
 80.82364940850329,
 100,
 100,
 47.742717575817075,
 77.71169220835965,
 47.95141590824509,
 100,
 62.96538148326023,
 66.48280612779722,
 16.204291525662118,
 45.51437978449947,
 61.910102985752616,
 100,
 100,
 51.91064533921661,
 34.585486992720625,
 69.50789923142602,
 91.75717869995488,
 46.12473327747809,
 61.45640859918022,
 67.26659276977236,
 57.28667314724798,
 56.48365254401221,
 60.37954716218432,
 37.33525084482954,
 68.57112798429897,
 68.96144010705483,
 31.730362079470243,
 84.80222313213062,
 82.83475342769894,
 27.716168607628646,
 30.885953710586367,
 60.607378751164845,
 52.49623248927562,
 44.10053644274971,
 46.376059653621425,
 27.360980314290593,
 54.21183794899519,
 83.50284212815737,
 15.090838235567027,
 45.718205317044294,
 75.8677685950413,
 57.136787357881126,
 49.02029991986877,
 36.17768370243617,
 21.448635757355927,
 100,
 79.06281186651137,
 25.31636043433051,
 10.176344324784292,
 76.11684780179979,
 42.92362707966993,
 70.23046735121588,
 14.721297293994983,
 40.13640937254572,
 27.114894623274644,
 82.71136036936296,
 62.35938540070867,
 20.596268998565403,
 15.342223922942544,
 28.681116930892635,
 39.09488396801946,
 37.0074907404631,
 64.75531840579478,
 85.85548620983894,
 26.106129188500915,
 43.39924949702109,
 11.773764812173681,
 100,
 47.032670007625434,
 48.021704022279344,
 61.86565827252788,
 81.62287474480915,
 22.9725251604025,
 66.0059291031871,
 41.137928324901274,
 16.97792305037371,
 62.26569387392444,
 41.394880899541256,
 79.02661117387733,
 0,
 26.851132767414466,
 41.572266654826194,
 100,
 62.98878585259678,
 90.16069892986816,
 47.46920131038584,
 31.515609249763077,
 20.68995264142125,
 76.08830993714575,
 83.79014821370554,
 24.234212552946154,
 24.068655668147333,
 63.50096400193308,
 0,
 64.65862068581838,
 30.457975969824236,
 69.29717714943588,
 52.56414364580097,
 85.30450293036307,
 66.89692641084028,
 52.887692584565514,
 60.28291008176534,
 100,
 42.81899544085107,
 44.404639551498384,
 12.744871434313342,
 63.451762169191305,
 62.27985494254147,
 73.82578499697591,
 37.51529128376637,
 74.21607701419126,
 100,
 0,
 65.26286007933464,
 64.91736499308689,
 51.15567269773918,
 23.94248221843861,
 40.02557705643313,
 49.7110782331749,
 47.96643613862378,
 59.34994311175279,
 100,
 34.98258914351777,
 43.566963913659684,
 19.52111004494744,
 0,
 61.458409421955665,
 51.688771931674914,
 91.22074459339622,
 43.51457174974192,
 60.200615476355324,
 32.55398804948838,
 79.50742435445447,
 61.89133411320545,
 54.13311213055507,
 74.20481075067036,
 48.86765074037326,
 35.453130879615955,
 53.6645558553434,
 30.33345086364252,
 81.54939106901284,
 51.89346052500189,
 80.12111033554578,
 56.146121700305194,
 48.42509111835758,
 67.88148595800106,
 19.0013954140236,
 100,
 83.12811165983933,
 100,
 6.436553390281885,
 83.4040366367431,
 43.70045019329256,
 17.813876697177623,
 17.352925759097605,
 41.766939687894634,
 55.050085956610914,
 77.19150334736071,
 31.362833038780856,
 100,
 90.85321148020867,
 63.07050464890301,
 54.88484959812936,
 30.371643182167716,
 2.618269976629739,
 100,
 100,
 46.14467154046784,
 50.551930755411135,
 39.89293891434633,
 15.595347813544224,
 38.339003392575265,
 0,
 64.95254588380335,
 35.33531250174712,
 38.895098779700476,
 49.533509946851574,
 75.41475293267304,
 50.05600457795843,
 40.97517323846728,
 50.34588942193112,
 63.04631071966609,
 48.93915438633181,
 14.759702412533926,
 65.36362669887303,
 17.488027929043604,
 43.87241050208659,
 80.05062162474704,
 68.77653795251501,
 4.711237033313753,
 56.282533580892945,
 0,
 60.47421888090525,
 81.84752047162763,
 42.8521452234793,
 44.28189225970796,
 77.81246801392838,
 62.12333641764084,
 37.20054381462747,
 52.96915435659583,
 47.549373275868454,
 35.53923520132718,
 0,
 48.59573429656767,
 29.779855406892953,
 70.78017342243798,
 62.32853604134969,
 35.54456798217102,
 0,
 47.65907126689063,
 75.61603295799605,
 79.32331663636627,
 63.937647580655636,
 47.653336067761686,
 69.41121484406973,
 37.88216769452817,
 89.51911933133249,
 87.84804967856246,
 25.60921656898817,
 62.847386387765155,
 77.78980037174306,
 65.39400115256133,
 96.0449144945472,
 29.5725891618979,
 79.08272704504327,
 15.460714908456852,
 100,
 41.71692092942144,
 45.089519030285054,
 43.72329573065552,
 73.4540233800505,
 9.013162606362023,
 78.26611921335336,
 99.87710076009046,
 56.081963944309706,
 57.81040919611276,
 46.54960675055525,
 59.66334238968343,
 42.25105674901564,
 33.54226880406168,
 54.20126136221113,
 45.27215670187673,
 89.52242869310642,
 52.593333913497474,
 100,
 60.89373492964266,
 26.738027772336558,
 23.866834712309025,
 0,
 100,
 43.33620151418964,
 58.18600544957929,
 78.23031658405985,
 50.988260576137414,
 8.790201670129171,
 51.95093910265619,
 49.80276232371844,
 93.66295177637626,
 75.1141277510777,
 81.80560821230314,
 61.94002436998767,
 85.64351519034106,
 65.77675321844482,
 55.99634483487683,
 19.584794301227692,
 14.352553512944233,
 53.40340459261698,
 82.74745903357822,
 17.653463320247997,
 49.425880445461935,
 51.013320532177595,
 45.584592961577286,
 48.018159028339646,
 61.079036698854324,
 70.19071528514917,
 63.31262651633096,
 43.62445835339449,
 100,
 73.31066793229503,
 17.05783992347919,
 33.01497598764331,
 39.22733411583829,
 95.86663058752755,
 40.847535058551344,
 42.76149093899551,
 100,
 72.5760618682984,
 54.57571605928682,
 36.36466207830299,
 35.14187305096258,
 69.8989868395148,
 44.15848856590531,
 59.09223656339766,
 62.35921534868392,
 44.80385123673541,
 28.98056874668571,
 33.09461169669083,
 66.43519103660888,
 15.620983640814156,
 71.20222849240183,
 100,
 83.30198686153607,
 57.74466292946274,
 34.185774575502414,
 100,
 53.7441328331981,
 84.0678954072203,
 48.22776702322279,
 71.60677051354185,
 0,
 64.60567300481723,
 49.520422788748355,
 74.74979348655783,
 80.57286813256795,
 76.32623010562625,
 37.29422236535832,
 26.97896042230753,
 79.57146025225086,
 100,
 21.005937953704333,
 21.25476470005896,
 51.71225489893978,
 28.606539702071775,
 22.386896634789398,
 64.96556755777338,
 47.81403959944763,
 15.865174687833228,
 40.66766200423455,
 90.24071058855996,
 36.948850841945024,
 0,
 67.21143029555722,
 47.341263431575555,
 74.848988747232,
 26.856539899821996,
 37.84872156267257,
 13.222943565347133,
 75.58353991476737,
 13.927193928263627,
 55.798999119479376,
 44.8322035010841,
 37.94667477289912,
 28.24984532679481,
 66.11840860052243,
 65.24108083975804,
 49.326292753955855,
 28.551185953383452,
 84.22632837870493,
 84.95640105099017,
 48.38832709744418,
 62.35933375067353,
 30.87204375803769,
 100,
 40.652546146754034,
 48.191056433324874,
 45.580783546541205,
 62.5528811853135,
 77.0261485153305,
 40.736822553093546,
 23.87881236113939,
 62.074953494282866,
 79.50878426926866,
 35.33699053301791,
 30.92498480821004,
 45.56138927567026,
 9.224111278250756,
 38.6952658844355,
 52.85155203789922,
 19.42740786718893,
 69.16183576986946,
 33.36304955459178,
 44.954837112939494,
 36.020163162570725,
 30.809287841148546,
 36.81891733942611,
 42.995246645174454,
 78.34712296158243,
 39.25469506958762,
 53.21084290954568,
 26.53471258554968,
 40.31168279044597,
 0,
 63.64713004308192,
 66.16072703632668,
 19.172957044218187,
 79.42859961687392,
 52.29833923648667,
 55.88789466253349,
 61.86442136906567,
 54.85574642302025,
 45.77165274595071,
 6.297978283278494,
 36.305898974359266,
 33.291169964872104,
 37.28087067328567,
 70.49191295168701,
 66.3960808906078,
 47.19035653870088,
 12.288622284699247,
 71.44742502733592,
 22.56003562295866,
 19.182597623594432,
 67.57421381890285,
 46.90594804162732,
 13.218831159033318,
 33.77064436123355,
 75.45619673997912,
 64.98537713205799,
 64.35956201507594,
 24.064674972429113,
 61.87356749144291,
 77.83525119632162,
 23.634395854288105,
 7.326473447755955,
 61.475165552676984]

In [64]:
df_index5=df_index4.groupby([pd.Grouper(freq='W')]).mean()
df_index5
df_index5.dropna(inplace=True)
df_index5['RSI'] = diff4
df_index5 = df_index5.drop('diff',axis = 1)
df_index5

                  RSI
date
2010-04-18   0.000000
2010-04-25  52.442353
2010-05-02  18.350791
2010-05-09  17.038370
2010-05-16  48.441850
...               ...
2022-12-04  61.873567
2022-12-11  77.835251
2022-12-18  23.634396
2022-12-25   7.326473
2023-01-01  61.475166

[652 rows x 1 columns]

In [65]:
df_index5.to_csv('C:/Users/XLL/Desktop/数据/CSI300_Index & Future_0521Final/CSI300_Index & Future/weekly_RSI.csv', index = False, header=True)