In [37]:
import pandas as pd
df_closing= pd.read_excel('C:/Users/XLL/Desktop/数据/CSI300_Index & Future_0521Final/CSI300_Index & Future/CSI300_Future_ClosingPrice.xlsx')
df_indexLevel= pd.read_excel('C:/Users/XLL/Desktop/数据/CSI300_Index & Future_0521Final/CSI300_Index & Future/CSI300_Index_Level.xlsx')

In [38]:
#combind two dataframes
df_closing['index_level'] = df_indexLevel['index_level']

In [39]:
df_closing['BASIS']=df_closing['closing_price']-df_closing['index_level']
df_closing

            date  closing_price  index_level    BASIS
0     2010-04-16         3415.6    3356.3320  59.2680
1     2010-04-19         3197.4    3176.4230  20.9770
2     2010-04-20         3214.6    3173.3740  41.2260
3     2010-04-21         3267.2    3236.6790  30.5210
4     2010-04-22         3236.2    3201.5410  34.6590
...          ...            ...          ...      ...
3086  2022-12-26         3853.0    3843.4887   9.5113
3087  2022-12-27         3900.0    3887.8540  12.1460
3088  2022-12-28         3885.0    3871.2644  13.7356
3089  2022-12-29         3868.2    3856.7007  11.4993
3090  2022-12-30         3879.4    3871.6338   7.7662

[3091 rows x 4 columns]

In [40]:
df_closing['date']=pd.to_datetime(df_closing['date'])
df_closing.set_index("date", inplace=True)
Quarterly_groups=df_closing.groupby(pd.Grouper(freq='Q'))
Quarterly_closing=Quarterly_groups.mean()
Quarterly_closing

            closing_price  index_level       BASIS
date
2010-06-30    2892.988000  2867.695600   25.292400
2010-09-30    2832.028571  2825.285302    6.743270
2010-12-31    3295.275410  3259.488410   35.787000
2011-03-31    3179.824138  3170.219259    9.604879
2011-06-30    3115.836066  3111.309033    4.527033
2011-09-30    2883.947692  2881.717154    2.230538
2011-12-31    2568.036667  2561.396167    6.640500
2012-03-31    2537.879310  2529.250397    8.628914
2012-06-30    2580.844068  2582.872017   -2.027949
2012-09-30    2339.584615  2327.416000   12.168615
2012-12-31    2283.390164  2276.285492    7.104672
2013-03-31    2614.235714  2609.680696    4.555018
2013-06-30    2467.287719  2479.231228  -11.943509
2013-09-30    2302.575000  2313.873328  -11.298328
2013-12-31    2392.931148  2388.040770    4.890377
2014-03-31    2197.272414  2202.559724   -5.287310
2014-06-30    2164.150820  2168.253852   -4.103033
2014-09-30    2324.246154  2321.299400    2.946754
2014-12-31    2814.036066  2794.699525   19.336541
2015-03-31    3606.656140  3594.276088   12.380053
2015-06-30    4750.270968  4750.967710   -0.696742
2015-09-30    3573.334375  3690.326328 -116.991953
2015-12-31    3595.367213  3660.401720  -65.034507
2016-03-31    3061.525424  3107.658612  -46.133188
2016-06-30    3113.704918  3146.356962  -32.652044
2016-09-30    3243.440625  3267.545492  -24.104867
2016-12-31    3369.870000  3386.135382  -16.265382
2017-03-31    3398.664407  3414.903747  -16.239341
2017-06-30    3474.846667  3489.126225  -14.279558
2017-09-30    3747.563077  3756.872546   -9.309469
2017-12-31    4017.383333  4022.033720   -4.650387
2018-03-31    4105.145763  4114.884024   -9.738261
2018-06-30    3771.510000  3788.998620  -17.488620
2018-09-30    3362.234375  3373.950053  -11.715678
2018-12-31    3169.666667  3169.347470    0.319197
2019-03-31    3449.727586  3446.103974    3.623612
2019-06-30    3789.100000  3800.657167  -11.557167
2019-09-30    3812.975385  3822.433286   -9.457902
2019-12-31    3925.734426  3925.834359   -0.099933
2020-03-31    3964.693103  3975.914831  -11.221728
2020-06-30    3886.837288  3915.796363  -28.959075
2020-09-30    4661.890909  4679.976594  -18.085685
2020-12-31    4905.070000  4909.711718   -4.641718
2021-03-31    5336.882759  5354.578203  -17.695445
2021-06-30    5129.040000  5144.542817  -15.502817
2021-09-30    4928.650000  4950.509522  -21.859522
2021-12-31    4916.059016  4913.865785    2.193231
2022-03-31    4525.565517  4533.068691   -7.503174
2022-06-30    4108.115254  4123.452600  -15.337346
2022-09-30    4132.550769  4139.540075   -6.989306
2022-12-31    3808.016667  3802.084227    5.932440

In [41]:
#add index week1 week2 week3...
Quarterly_closing['Quarter'] = range(1, len(Quarterly_closing) + 1)
Quarterly_closing

            closing_price  index_level       BASIS  Quarter
date
2010-06-30    2892.988000  2867.695600   25.292400        1
2010-09-30    2832.028571  2825.285302    6.743270        2
2010-12-31    3295.275410  3259.488410   35.787000        3
2011-03-31    3179.824138  3170.219259    9.604879        4
2011-06-30    3115.836066  3111.309033    4.527033        5
2011-09-30    2883.947692  2881.717154    2.230538        6
2011-12-31    2568.036667  2561.396167    6.640500        7
2012-03-31    2537.879310  2529.250397    8.628914        8
2012-06-30    2580.844068  2582.872017   -2.027949        9
2012-09-30    2339.584615  2327.416000   12.168615       10
2012-12-31    2283.390164  2276.285492    7.104672       11
2013-03-31    2614.235714  2609.680696    4.555018       12
2013-06-30    2467.287719  2479.231228  -11.943509       13
2013-09-30    2302.575000  2313.873328  -11.298328       14
2013-12-31    2392.931148  2388.040770    4.890377       15
2014-03-31    2197.272414  2202.559724   -5.287310       16
2014-06-30    2164.150820  2168.253852   -4.103033       17
2014-09-30    2324.246154  2321.299400    2.946754       18
2014-12-31    2814.036066  2794.699525   19.336541       19
2015-03-31    3606.656140  3594.276088   12.380053       20
2015-06-30    4750.270968  4750.967710   -0.696742       21
2015-09-30    3573.334375  3690.326328 -116.991953       22
2015-12-31    3595.367213  3660.401720  -65.034507       23
2016-03-31    3061.525424  3107.658612  -46.133188       24
2016-06-30    3113.704918  3146.356962  -32.652044       25
2016-09-30    3243.440625  3267.545492  -24.104867       26
2016-12-31    3369.870000  3386.135382  -16.265382       27
2017-03-31    3398.664407  3414.903747  -16.239341       28
2017-06-30    3474.846667  3489.126225  -14.279558       29
2017-09-30    3747.563077  3756.872546   -9.309469       30
2017-12-31    4017.383333  4022.033720   -4.650387       31
2018-03-31    4105.145763  4114.884024   -9.738261       32
2018-06-30    3771.510000  3788.998620  -17.488620       33
2018-09-30    3362.234375  3373.950053  -11.715678       34
2018-12-31    3169.666667  3169.347470    0.319197       35
2019-03-31    3449.727586  3446.103974    3.623612       36
2019-06-30    3789.100000  3800.657167  -11.557167       37
2019-09-30    3812.975385  3822.433286   -9.457902       38
2019-12-31    3925.734426  3925.834359   -0.099933       39
2020-03-31    3964.693103  3975.914831  -11.221728       40
2020-06-30    3886.837288  3915.796363  -28.959075       41
2020-09-30    4661.890909  4679.976594  -18.085685       42
2020-12-31    4905.070000  4909.711718   -4.641718       43
2021-03-31    5336.882759  5354.578203  -17.695445       44
2021-06-30    5129.040000  5144.542817  -15.502817       45
2021-09-30    4928.650000  4950.509522  -21.859522       46
2021-12-31    4916.059016  4913.865785    2.193231       47
2022-03-31    4525.565517  4533.068691   -7.503174       48
2022-06-30    4108.115254  4123.452600  -15.337346       49
2022-09-30    4132.550769  4139.540075   -6.989306       50
2022-12-31    3808.016667  3802.084227    5.932440       51

In [42]:
zero_rows = Quarterly_closing[Quarterly_closing['BASIS'] == 0]
zero_rows

Empty DataFrame
Columns: [closing_price, index_level, BASIS, Quarter]
Index: []

In [43]:
Quarterly_closing.set_index("Quarter", inplace=True)
Quarterly_closing

         closing_price  index_level       BASIS
Quarter
1          2892.988000  2867.695600   25.292400
2          2832.028571  2825.285302    6.743270
3          3295.275410  3259.488410   35.787000
4          3179.824138  3170.219259    9.604879
5          3115.836066  3111.309033    4.527033
6          2883.947692  2881.717154    2.230538
7          2568.036667  2561.396167    6.640500
8          2537.879310  2529.250397    8.628914
9          2580.844068  2582.872017   -2.027949
10         2339.584615  2327.416000   12.168615
11         2283.390164  2276.285492    7.104672
12         2614.235714  2609.680696    4.555018
13         2467.287719  2479.231228  -11.943509
14         2302.575000  2313.873328  -11.298328
15         2392.931148  2388.040770    4.890377
16         2197.272414  2202.559724   -5.287310
17         2164.150820  2168.253852   -4.103033
18         2324.246154  2321.299400    2.946754
19         2814.036066  2794.699525   19.336541
20         3606.656140  3594.276088   12.380053
21         4750.270968  4750.967710   -0.696742
22         3573.334375  3690.326328 -116.991953
23         3595.367213  3660.401720  -65.034507
24         3061.525424  3107.658612  -46.133188
25         3113.704918  3146.356962  -32.652044
26         3243.440625  3267.545492  -24.104867
27         3369.870000  3386.135382  -16.265382
28         3398.664407  3414.903747  -16.239341
29         3474.846667  3489.126225  -14.279558
30         3747.563077  3756.872546   -9.309469
31         4017.383333  4022.033720   -4.650387
32         4105.145763  4114.884024   -9.738261
33         3771.510000  3788.998620  -17.488620
34         3362.234375  3373.950053  -11.715678
35         3169.666667  3169.347470    0.319197
36         3449.727586  3446.103974    3.623612
37         3789.100000  3800.657167  -11.557167
38         3812.975385  3822.433286   -9.457902
39         3925.734426  3925.834359   -0.099933
40         3964.693103  3975.914831  -11.221728
41         3886.837288  3915.796363  -28.959075
42         4661.890909  4679.976594  -18.085685
43         4905.070000  4909.711718   -4.641718
44         5336.882759  5354.578203  -17.695445
45         5129.040000  5144.542817  -15.502817
46         4928.650000  4950.509522  -21.859522
47         4916.059016  4913.865785    2.193231
48         4525.565517  4533.068691   -7.503174
49         4108.115254  4123.452600  -15.337346
50         4132.550769  4139.540075   -6.989306
51         3808.016667  3802.084227    5.932440

In [44]:
del Quarterly_closing['closing_price']
del Quarterly_closing['index_level']
Quarterly_closing

              BASIS
Quarter
1         25.292400
2          6.743270
3         35.787000
4          9.604879
5          4.527033
6          2.230538
7          6.640500
8          8.628914
9         -2.027949
10        12.168615
11         7.104672
12         4.555018
13       -11.943509
14       -11.298328
15         4.890377
16        -5.287310
17        -4.103033
18         2.946754
19        19.336541
20        12.380053
21        -0.696742
22      -116.991953
23       -65.034507
24       -46.133188
25       -32.652044
26       -24.104867
27       -16.265382
28       -16.239341
29       -14.279558
30        -9.309469
31        -4.650387
32        -9.738261
33       -17.488620
34       -11.715678
35         0.319197
36         3.623612
37       -11.557167
38        -9.457902
39        -0.099933
40       -11.221728
41       -28.959075
42       -18.085685
43        -4.641718
44       -17.695445
45       -15.502817
46       -21.859522
47         2.193231
48        -7.503174
49       -15.337346
50        -6.989306
51         5.932440

In [45]:
#to csv
Quarterly_closing.to_csv('C:/Users/XLL/Desktop/数据/CSI300_Index & Future_0521Final/CSI300_Index & Future/Quarterly_CSI300_Future_Basis.xlsx')