In [12]:
import pandas as pd
df = pd.read_csv('C:/Users/XLL/Desktop/CS毕设项目/300_week_1.5.csv')
df

,week,future_return,volume,inventory,amount,BASIS,index_turnover_rate,short_balance_ratio,pli,t_spread,RSI,index_trading_volume,CCt+1
0,1,0.002300,10.976047,8.185907,10.976047,59.26800,0.440,0.000005,0.00,2.04740,0.000000,6.510794,0.0
1,2,-0.056701,13.400486,10.345831,13.400486,31.71600,0.658,0.000010,0.20,2.01880,52.442353,8.499683,0.0
2,3,-0.028819,13.474156,10.799555,13.474156,34.60240,0.490,0.000027,0.20,1.97462,18.350791,8.218636,0.0
3,4,-0.042739,13.527370,10.820138,13.527370,57.07800,0.500,0.000028,0.25,1.94245,17.038370,7.993090,0.0
4,5,-0.048364,14.049264,11.179381,14.049264,16.17120,0.468,0.000056,0.60,1.89940,48.441850,8.089973,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,648,0.019180,13.168176,13.834968,13.168176,8.83644,0.520,0.109330,0.60,0.79608,61.873567,9.428150,0.0
648,649,0.031054,13.242854,13.881679,13.242854,4.13226,0.534,0.099007,0.80,0.73406,77.835251,9.467997,0.0
649,650,-0.002532,13.260778,13.823800,13.260778,8.23484,0.354,0.116676,0.40,0.70614,23.634396,9.166686,0.0
650,651,-0.025140,13.019365,13.826555,13.019365,18.55536,0.282,0.143002,0.40,0.67266,7.326473,8.939615,0.0
651,652,0.003918,12.710121,13.814635,12.710121,10.93168,0.272,0.149174,0.60,0.67142,61.475166,8.934194,NaN

In [14]:
a = ['future_return','volume','inventory','amount','BASIS']
for i in a:
    group = df[i].agg(['mean', 'std'])
    print(group)

mean    0.000198
std     0.027924
Name: future_return, dtype: float64
mean    13.350687
std      1.444134
Name: volume, dtype: float64
mean    12.889745
std      0.761162
Name: inventory, dtype: float64
mean    13.350687
std      1.444134
Name: amount, dtype: float64
mean    -8.402610
std     28.911996
Name: BASIS, dtype: float64

In [17]:
from scipy.stats import ttest_ind

In [18]:
for i in a:
    grouped_data = df.groupby('CCt+1')[i].agg(['mean', 'std'])
    print(grouped_data)
    mean_group_0 = grouped_data.loc[0, 'mean']
    mean_group_1 = grouped_data.loc[1, 'mean']
    std_group_0 = grouped_data.loc[0, 'std']
    std_group_1 = grouped_data.loc[1, 'std']
    t_stat, p_value = ttest_ind(df.loc[df['CCt+1'] == 0, i], df.loc[df['CCt+1'] == 1, i])
    print("Mean Difference Significance (t-test):")
    print("Mean Group 0:", mean_group_0)
    print("Mean Group 1:", mean_group_1)
    print("Standard Deviation Group 0:", std_group_0)
    print("Standard Deviation Group 1:", std_group_1)
    print("T-statistic:", t_stat)
    print("P-value:", p_value)

           mean       std
CCt+1
0.0    0.003868  0.024540
1.0   -0.015586  0.035354
Mean Difference Significance (t-test):
Mean Group 0: 0.003867746001893939
Mean Group 1: -0.01558575806504065
Standard Deviation Group 0: 0.02453971952701886
Standard Deviation Group 1: 0.03535410914441786
T-statistic: 7.221388037903435
P-value: 1.4456460857329598e-12
            mean       std
CCt+1
0.0    13.393738  1.452396
1.0    13.171091  1.404437
Mean Difference Significance (t-test):
Mean Group 0: 13.393738001984849
Mean Group 1: 13.171090627154472
Standard Deviation Group 0: 1.4523956472078103
Standard Deviation Group 1: 1.4044374286384593
T-statistic: 1.5405621064744366
P-value: 0.12391080554494902
            mean       std
CCt+1
0.0    12.918594  0.747760
1.0    12.758386  0.805116
Mean Difference Significance (t-test):
Mean Group 0: 12.918593565589015
Mean Group 1: 12.75838586195122
Standard Deviation Group 0: 0.7477603913700446
Standard Deviation Group 1: 0.8051159529061888
T-statistic: 2.108595423624424
P-value: 0.03536212728621519
            mean       std
CCt+1
0.0    13.393738  1.452396
1.0    13.171091  1.404437
Mean Difference Significance (t-test):
Mean Group 0: 13.393738001984849
Mean Group 1: 13.171090627154472
Standard Deviation Group 0: 1.4523956472078103
Standard Deviation Group 1: 1.4044374286384593
T-statistic: 1.5405621064744366
P-value: 0.12391080554494902
            mean        std
CCt+1
0.0    -5.107864  21.237909
1.0   -22.703102  47.495559
Mean Difference Significance (t-test):
Mean Group 0: -5.107863705816287
Mean Group 1: -22.703101679943092
Standard Deviation Group 0: 21.237909045619162
Standard Deviation Group 1: 47.4955588703984
T-statistic: 6.251357714376188
P-value: 7.374338477360425e-10